{% extends "base.html" %}
{% load thumbnail %}
{% block content %}

<div class="ui container segment">
    <div class="row">
        <div class="ten wide column ">
            <article>
                {% if post.post_type == 'blog' %}
                    <div class="ui huge header">{{ post.title }}</div>
                    <div class="ui divider"></div>
                    <div class="ui content">
                        <img class="ui image left floated" src="{% thumbnail post.hero_image 100x100 crop %}">
                        {{ post.body }}
                    </div>
                {% else %}
                    <img class="ui fluid image" src="{% thumbnail post.hero_image 600x300 crop %}">
                    <div class="ui huge header">{{ post.title }}</div>
                    <div class="ui divider"></div>
                    <div class="ui content">{{ post.body }}</div>
                {% endif %}
            </article>
            {% if post.categories.exists %}
            <div class="ui divider"></div>
            <aside>
                {% for category in post.categories.all %}
                    <a href="{% url 'seo_post:post_list_by_category' category=category.slug  %}">{{ category.name }}</a>
                {% endfor %}
            </aside>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
