
.post-list__main-header__post-type {
    display: inline;
}

.post-list__main-header__category {
    display: inline;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}




@mixin mixin_post_list__item__image {
  .ui.items > .item > .image.post_list__item__image{
    text-align: center;
    max-height: 300em!important;
    > img {
      border-radius: 10em;
    }
    .label {
      display: inline-block;
      margin-top: 0.5em;
    }
  }
}

@media only screen and (min-width: 768px){

  .post_list__content__top{
    overflow-y: hidden;
    height:150px;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 768px){

  .post_list__content__top{
    overflow-y: hidden;
    max-height:250px;
    padding-top: 5px;
  }
}

@include mixin_post_list__item__image;

@media only screen and (max-width: 767px){
  @include mixin_post_list__item__image;
}

.post-detail__main-image{
  margin-top: 5px;
}

.post-detail__content{
  clear: both;

  img {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  img[align="left"]{
    margin-left: 0;
  }

  img[align="right"]{
    margin-right: 0;
  }

}

.post-detail__social-sharing  i.inverted.circular.red.icon{
  background: $red!important;
}
