{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
    },
    "globals": {
        "$": true,
        "jQuery": true
    },
    "rules": {
        "no-console": ["warn", {
            "allow": ["warn", "error"]
        }]
    },
    "env": {
        "browser": true
    }
}
