.DS_Store
.idea/
.vscode/
.vagrant/
.env
__pycache__/
local_settings.py
node_modules/
npm-debug.log
package-lock.json
project.db
web/media
**.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
