{% load thumbnail %}

<div class="ui divided items">
    {% for job in page_obj.object_list %}
        <div class="ui item">
            <div class="content">
                <div class="job_list__content__top">
                    <a class="ui caps-title small red" href="{{ job.listing_url }}">
                        {{ job.job_title }}
                    </a>
                    <div class="meta">
                        <span> <b>{{ job.company_name }}</b> </span>
                        <span> - </span>
                        <span> {{ job.location }} </span>
                    </div>
                    <div class="meta">
                        {% if job.min_salary %}
                            <span> £{{ job.min_salary|floatformat:"0" }} </span>
                        {% endif %}
                        {% if job.min_salary and job.max_salary %}
                            <span>-</span>
                        {% endif %}
                        {% if job.max_salary %}
                            <span> £{{ job.max_salary|floatformat:"0" }} </span>
                        {% endif %}
                    </div>
                    <div class="description" style="clear: both;">
                        <div >
                        {% firstof job.summary job.job_detail|safe %}
                        </div>
                    </div>
                </div>
                <div class="extra">
                    <a class="ui right floated mini red button" href="{{ job.listing_url }}">more</a>
                    <span>
                        {{ job.date_publish|date:'d M' }}
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
