$light-grey: #f4f4f4;
$grey: #e5e5e5;
$dark-grey: #9ea1a5;
$black: #323a45;

$blue: #105f9b;

$blue-grey: #f0f3f6;

$light-blue: #209ad6;
$dark-blue: #705bff;
$very-dark-blue: #323a45;

$orange: #f08a32;
$teal: #00afaa;
$red: #962d45;

$primary: $light-blue;
$accent: #105f9b;

$color__background-body: #fff; // not changed
$color__background-screen: #f1f1f1; // not changed
$color__background-hr: #ccc; // not changed
$color__background-button: #e6e6e6; // not changed
$color__background-pre: #eee; // not changed
$color__background-ins: #fff9c0; // not changed

$color__text-screen: #21759b; // not changed
$color__text-input: #666; // not changed
$color__text-input-focus: #111; // not changed
$color__link: #737373;
$color__link-visited: #737373;
$color__link-hover: $light-blue;
$color__text-main: #737373;

$color__border-button: $grey;
$color__border-button-hover: $grey;
$color__border-button-focus: $grey;
$color__border-input: $grey;
$color__border-abbr: $grey;

@mixin mobile {
  @media (max-width: #{$tablet-breakpoint - 1px}) {
    @content;
  }
}

@mixin not-mobile {
  @media (min-width: #{$tablet-breakpoint}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-breakpoint}) and (max-width: #{$computer-breakpoint - 1px}) {
    @content;
  }
}

@mixin not-computer {
  @media (max-width: #{$computer-breakpoint - 1px}) {
    @content;
  }
}

@mixin computer {
  @media (min-width: #{$computer-breakpoint}) {
    @content;
  }
}

@mixin small-monitor {
  @media (min-width: #{$computer-breakpoint}) and (max-width: #{$large-monitor-breakpoint - 1px}) {
    @content;
  }
}

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$computer-breakpoint: 992px;
$large-monitor-breakpoint: 1200px;
$widescreen-monitor-breakpoint: 1920px;

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.header {
  width: 100%;
  display: block;
  position: relative;

  background-image: url('/images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  .ui.secondary.menu {
    background: white;
    position: relative;
    height: 75px;
    margin: 0;

    .logo img {
      width: 80px;
      height: auto;
    }

    a.item {
      font-family: "Lato", sans-serif;
      font-weight: 300 !important;
      text-transform: uppercase;
      background: #FFF;
      opacity: 1;
      transition: 0.3s ease all !important;
      border-radius: 0 !important;

      &:hover {
        background: $accent;
        color: #FFF;
      }
      &.search {
        &:hover {
          background: none;
        }
      }
      &.fixed {
        background: $accent;
        color: #FFF;

        &.red {
          //background: $red;
        }

        &.orange {
          //background: $orange;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  h1, p {
    color: #FFFFFF;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    //background: rgba(0, 0, 0, 0.4);
  }

  .grid.masthead {
    padding: 100px 0;

    h1 {
      font-family: "Lato", sans-serif;
      font-weight: 300 !important;
      font-size: 35px;
      text-transform: uppercase;
      margin-bottom: 50px;
      line-height:50px;

      span {
        padding: 5px 15px;
        background-color: $accent;
      }
    }

    p {
      font-family: "Lato", sans-serif;
      font-weight: 400 !important;
      font-size: 20px;
      margin: 30px 0 35px;
    }

    .donate.button {
      background: $orange !important;
    }
  }
}

.section {
  padding: 70px 0 !important;
}

.infographic {
  background: #f3f3f3;
}

.donations {
  p {
    margin: 50px 0 50px;
  }
}

#footer {
  background-color: $light-grey;

  .social {
    a {
      font-size: 20px;
      display: inline-block;
      margin: 5px 0;
    }
    .scholars {
      a {
        color: $orange;
      }
    }
    .careers {
      a {
        color: $teal;
      }
    }
    .connect {
      a {
        color: $red;
      }
    }
  }

  a {
    color: $blue;
  }

  padding-top: 5px;

  .ui.grid {
    margin-top: 0;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;

    @include not-computer {
      justify-content: center;
    }

    ul {
      list-style: none;
      margin: 0;
      display: inline-flex;
      align-items: center;
      padding: 30px 0 0 0;

      @include not-computer {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        flex-basis: 100%;
        justify-content: center;
      }

      li {
        margin: 0;
        display: inline-block;
        font-size: 14px;
      }
    }

    ul.breadcrumbs {
      padding-top: 0;

      @include mobile {
        display: none;
      }

      @include tablet {
        margin-bottom: 1rem;
      }

      li {
        position: relative;
        padding: 0 30px 0 0;
        height: 36px;
        line-height: 36px;

        &:after {
          display: block;
          content: "\f105";
          position: absolute;
          top: 0;
          right: 12px;
          font-family: Icons;
        }

        &:last-child {
          padding-right: 0;

          &:after {
            display: none;
          }
        }

        &.logo {
          display: block;
          height: auto;

          a {
            display: block;
          }

          img {
            width: 50px;
            height: auto;
            display: block;
          }
        }

      }

      img, object {
        width: 30px;
        height: 30px;
      }
    }

    ul.top-links {
      padding-top: 0;

      @include mobile {
        justify-content: center;
      }

      li {
        color: $very-dark-blue;
        font-weight: 600;
        padding: 0 0 0 30px;
        text-align: center;

        @include mobile {
          padding: 10px;

          &:first-child {
            flex-basis: 100%;
          }
        }

        &:first-child {
          padding-left: 0;
        }

        a {
          color: $very-dark-blue;

          &:hover {
            color: $blue;
          }

          .icon {
            color: $blue;
          }
        }
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin: 2px 0;
      padding: 0;
    }
  }

  .middle.row {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .social.links.dropdown.column {
      a {
        font-size: 1.4rem;
        margin-right: 1rem;
      }
    }

    @include mobile {
      padding-top: 0;
      padding-left: 1rem;
      padding-right: 1rem;

      > .column {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      > .dropdown.column {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        border-bottom: 1px solid $grey;

        .title {
          position: relative;
          padding-top: 1rem;
          padding-right: 2rem;
          padding-bottom: 1rem;
          margin: 0;
          cursor: pointer;

          &:after {
            position: absolute;
            right: 0.5em;
            content: '\f107';
            font-family: Icons;
          }
        }

        .content {
          display: none;
          padding-bottom: 1rem;
        }

        &.open {
          .title {
            &:after {
              content: '\f106';
            }
          }

          .content {
            display: block;
          }
        }
      }
    }
  }

  form {
    .subscribe-footer {
      display: flex;
    }

    .subscribe-sidebar {
      display: none;
    }

    .mc4wp-form-fields {
      input {
        background-color: rgba(255, 255, 255, 0);
        transition: all 0.35s ease;
        border: 1px solid $grey;
        padding: 5px 5px 5px 10px;
        width: 100%;
        outline: none;

        &:focus {
          background-color: rgba(255, 255, 255, 1);
        }
      }

      .submit {
        margin-left: -6px;
        height: 34px;
        width: 70px;
        background-color: $light-blue;
        border: 1px solid $light-blue;
        border-radius: 0 3px 3px 0;
        outline: none;

        &:hover {
          background-color: lighten($light-blue, 10%);
          border-color: lighten($light-blue, 10%);
        }

        &:before {
          font-family: Icons;
          content: "\f1d9";
          color: white;
        }
      }
    }

    .mc4wp-response {
      margin-top: 1em;
    }
  }


  .legals {
    > .column {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }

    .mobile.logo {
      width: 30px;
    }

    @include mobile {
      text-align: center;
    }
  }

  .small {
    font-size: 11px;

    .bottom-middle-links a {
      padding: 0 8px;
    }
  }
}

.ui.primary.button {
  background: $blue !important;
}

.ui.secondary.button {
  background: $orange !important;
}

.services {

  .scholars {
    transition: 0.3s ease all !important;

    img {
      transition: 0.3s ease all !important;
    }

    .button {
      background: $orange !important;
    }

    &:hover {
      background: $orange;

      p {
        color: white;
      }

      img {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }

      .button {
        background: white !important;
        color: $orange !important;
      }
    }
  }

  .careers {
    transition: 0.3s ease all !important;

    img {
      transition: 0.3s ease all !important;
    }

    .button {
      background: $teal !important;
    }

    &:hover {
      background: $teal;

      p {
        color: white;
      }

      img {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }

      .button {
        background: white !important;
        color: $teal !important;
      }
    }
  }

  .connect {
    transition: 0.3s ease all !important;

    img {
      transition: 0.3s ease all !important;
    }

    .button {
      background: $red !important;
      transition: 0.3s ease all !important;
    }

    &:hover {
      background: $red;

      p {
        color: white;
      }

      img {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }

      .button {
        background: white !important;
        color: $red !important;
      }
    }
  }

  p {
    margin: 25px 0;
    height: 75px;
  }

  img {
    height: 75px;
  }
}

.unslider {
  position: relative;

  .unslider-arrow {
    color: rgba(0,0,0,0);
    top: 47%;
    font-size: 0;

    &:hover {
      &:before {
        opacity: 0.7;
      }
    }

    &.next {
      right: 40px;
      &:before {
        content: "\f138";
        font-family: FontAwesome;
        font-size: 40px;
        color: white;
      }
    }

    &.prev {
      left: 40px;
      &:before {
        content: "\f137";
        font-family: FontAwesome;
        font-size: 40px;
        color: white;
      }
    }
  }

  .unslider-nav {
    margin-bottom: 30px;
    li {
      width: 12px;
      height: 12px;
      border-radius:999px;
    }
  }
}

.ui.button {
  border-radius: 0 !important;
  opacity: 1;
  transition: 0.3s ease opacity !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  padding: 12px 20px !important;

  &:hover {
    opacity: 0.8;
  }
}
