body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

@import "mixins/responsive";
@import "variables/breakpoints";
@import "variables/colors";
@import "layout/header";
@import "layout/footer";
@import "helpers/helpers";
@import "pages/homepage";
@import "pages/careers";
@import "pages/scholars";
@import "pages/connect";
@import "pages/get-involved";
@import "elements/accordion";
