.header {
  width: 100%;
  display: block;
  position: relative;

  h1, p {
    color: #FFFFFF;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
  }
}

// Slider
.unslider {
  position: relative;

  .unslider-arrow {
    color: rgba(0, 0, 0, 0);
    top: 47%;
    font-size: 0;

    &:hover {
      &:before {
        opacity: 0.7;
      }
    }

    &.next {
      right: 40px;

      &:before {
        content: "\f138";
        font-family: FontAwesome;
        font-size: 40px;
        color: white;
      }
    }

    &.prev {
      left: 40px;

      &:before {
        content: "\f137";
        font-family: FontAwesome;
        font-size: 40px;
        color: white;
      }
    }
  }

  .unslider-nav {
    margin-bottom: 30px;

    li {
      width: 12px;
      height: 12px;
      border-radius: 999px;
    }
  }
}

.masthead {
  background-image: url('/static/img/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;

  $span-opacity: 0.6;

  .grid h1.blue span {
    background-color: rgba($blue, $span-opacity);
  }

  &.connect {
    .grid h1 span {
      background-color: rgba($red, $span-opacity);
    }
  }

  &.scholars {
    .grid h1 span {
      background-color: rgba($orange, $span-opacity);
    }
  }

  &.careers-page {
    .grid h1 span {
      background-color: rgba($teal, $span-opacity);
    }
  }

  .buttons {
    .button {
      display: inline-block;
      max-width: 175px;
      margin-left: auto;
      margin-bottom: 5px;

      @include not-computer {
        margin: 0;
      }
    }
  }

  .grid {
    padding: 100px 0;

    h1 {
      font-family: "Lato", sans-serif;
      font-weight: 300 !important;
      font-size: 35px;
      text-transform: uppercase;
      line-height: 52px;

      span {
        color: #FFF;
        padding: 5px 15px;
        background-color: rgba($teal, $span-opacity);

        @include not-computer {
          display: block;
        }
      }
    }

    h2 {
      span {
        color: #FFF;
        padding: 5px 15px;
        background-color: rgba($teal, $span-opacity);
      }
    }

    p {
      font-family: "Lato", sans-serif;
      font-weight: 400 !important;
      font-size: 20px;
      margin: 30px 0 35px;

      span {
        color: #FFF;
        padding: 5px 15px;
        background-color: rgba($teal, $span-opacity);
      }
    }

    // set the colour with primary/secondary -- the .donate.button class will be used for the modal
    //.donate.button {
    //  background: $orange !important;
    //}
  }
}
