.section {
  padding: 70px 0 !important;

  &.no-padding-top {
    padding-top: 0 !important;
  }

  &.no-padding-bottom {
    padding-bottom: 0 !important;
  }
}

.hidden {
  display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui.button {
  border-radius: 0 !important;
  opacity: 1;
  transition: 0.3s ease opacity !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  padding: 12px 20px !important;

  &.white {
    background: #fff;
    color: black !important;
  }

  &.primary,
  &.blue {
    background: $blue !important;
    transition: 0.3s ease all !important;

    &:hover {
      background: darken($blue, 10%) !important;
    }
  }

  &.secondary,
  &.orange {
    background: $orange !important;
    transition: 0.3s ease all !important;

    &:hover {
      background: darken($orange, 10%) !important;
    }
  }

  &.red {
    background: $red !important;
    transition: 0.3s ease all !important;

    &:hover {
      background: darken($red, 10%) !important;
    }
  }

  &.teal {
    background: $teal !important;
    transition: 0.3s ease all !important;

    &:hover {
      background: darken($teal, 10%) !important;
    }
  }
}

.margin-top-30 {
  margin-top: 30px !important;
}

.caps-title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 40px;

  &:first-child {
    margin-top: 0;
  }

  &.small {
    font-size: 30px;
  }

  &.with-margin {
    margin-bottom: 25px;
  }
}

.justified {
  text-align: justify;
}

.teal {
  color: $teal;
}

.white {
  color: white;
}

.teal-background {
  background-color: $teal;
}

.orange-background {
  background-color: $orange;

  color: #FFF;
}

.grey-background {
  background-color: $light-grey;
}

.light {
  font-weight: 300;
}

.orange {
  color: $orange;
}

.center-align {
  text-align: center;
}

.text-left {
  text-align: left;
}

.hidden-on-computer {
  @include computer {
    display: none;
  }
}

.only-on-computer {
  @include not-computer {
    display: none;
  }
}

.separate-on-mobile {
  @include not-computer {
    .column {
      margin-bottom: 25px !important;
    }
  }
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

#scroll-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px 2px 0;
  background: $blue;
  color: #FFF;
  font-size: 40px;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s ease all;

  &.visible {
    opacity: 1;
  }
}
