.section {
  padding: 70px 0 !important;

  &.no-padding-top {
    padding-top: 0 !important;
  }
}

.ui.button {
  border-radius: 0 !important;
  opacity: 1;
  transition: 0.3s ease opacity !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  padding: 12px 20px !important;

  &:hover {
    opacity: 0.8;
  }

  &.white {
    background: #fff;
    color: black !important;
  }

  &.primary,
  &.blue {
    background: $blue !important;
  }

  &.secondary,
  &.orange {
    background: $orange !important;
  }

  &.red {
    background: $red !important;
  }

  &.teal {
    background: $teal !important;
  }
}

.margin-top-30 {
  margin-top: 30px;
}

.caps-title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 40px;

  &:first-child {
    margin-top: 0;
  }

  &.small {
    font-size: 30px;
  }

  &.with-margin {
    margin-bottom: 25px;
  }
}

.justified {
  text-align: justify;
}

.teal {
  color: $teal;
}

.white {
  color: white;
}

.teal-background {
  background-color: $teal;
}

.orange-background {
  background-color: $orange;

  color: #FFF;
}

.grey-background {
  background-color: $light-grey;
}

.light {
  font-weight: 300;
}

.orange {
  color: $orange;
}

.center-align {
  text-align: center;
}

.text-left {
  text-align: left;
}

.hidden-on-computer {
  @include computer {
    display: none;
  }
}

.only-on-computer {
  @include not-computer {
    display: none;
  }
}
