{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="masthead about-page" id="our-story">
    <div class="ui relaxed grid container">
        <div class="sixteen wide tablet sixteen wide mobile eight wide computer middle aligned column">
            <h1>Our Story</h1>
            <h2>1963</h2>
            {% placeholder "1963" %}
        </div>

        <div class="sixteen wide tablet sixteen wide mobile eight wide computer middle aligned column">
            {% placeholder '1963 Image' %}
        </div>
    </div>
</div>

<div id="about-page">

    <div class="section grey-background">
        <div class="ui relaxed grid container">
            <div class="row separate-on-mobile">
                <div class="sixteen wide tablet sixteen wide mobile eight wide computer column">
                    {% placeholder '1980 Image' %}
                    <h2>1980</h2>
                    {% placeholder '1980 Text' %}
                </div>
                <div class="sixteen wide tablet sixteen wide mobile eight wide computer column">
                    {% placeholder '2000 Image' %}
                    <h2>2000</h2>
                    {% placeholder '2000 Text' %}
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide tablet sixteen wide mobile eight wide computer column contains-logo">
                    {% placeholder '2012 Image' %}
                    <h2>2012</h2>
                    {% placeholder '2012 Text' %}
                </div>
                <div class="sixteen wide tablet sixteen wide mobile eight wide computer column contains-logo">
                    {% placeholder '2013 Image' %}
                    <h2>2013</h2>
                    {% placeholder '2013 Text' %}
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="today">
        <div class="ui three column stackable relaxed grid container">
            <div class="row">
                <div class="three wide column">
                    <h2 class="today">Today</h2>
                </div>
            </div>
            <div class="justified column">
                {% placeholder 'UK Image' %}
                <h2>In the UK</h2>
                {% placeholder 'UK Text' %}
            </div>
            <div class="justified column">
                {% placeholder 'US Image' %}
                <h2>In the US</h2>
                {% placeholder 'US Text' %}
            </div>
            <div class="justified column">
                {% placeholder 'International Image' %}
                <h2>Internationally</h2>
                {% placeholder 'International Text' %}
            </div>
        </div>
    </div>

    <div class="the-team section" id="team">

        <h2>The Team</h2>

        <div class="ui three column stackable grid">

            {% placeholder "The Team" %}

        </div>

    </div>

    <div class="section board the-team" id="board">

        <h2>The Board</h2>

        <div class="ui three column stackable grid">

            {% placeholder "The Board" %}

        </div>

    </div>

    <div class="section board the-team" id="alumini-board">

        <h2>The Alumini Advisory Board</h2>

        <div class="ui three column stackable grid">

            {% placeholder "Alumini Advisory Board" %}

        </div>

    </div>

    <div class="section the-team" id="join">
        <div class="ui grid container">
            <div class="row">
                <div class="sixteen wide column">
                    <h2>Join the team</h2>
                    {% placeholder "Join" %}
                </div>
            </div>
        </div>
    </div>
    <div class="section the-team" id="contact">
        <div class="ui grid container">
            <div class="row">
                <div class="sixteen wide column">
                     <h2>Contact us</h2>
                    {% placeholder "Contact" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
