{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="masthead about-page">
    <div class="ui relaxed grid container">
        <div class="sixteen wide tablet sixteen wide mobile eight wide computer middle aligned column">
            <h1>Our Story</h1>
            <h2>1963</h2>
            <p>Our story begins in New York in 1963. Inner city kids from underprivileged backgrounds face limited
                opportunities and, often, underperforming school systems. Students look for role models and support to
                achieve their aspirations.</p>
            <p>New Yorker Michael Osheowitz is committed to the vision that ambition and intelligence – not zip
                codes or
                skin colour – should determine who succeeds. At age 24, he founds Sponsors for Educational
                Opportunity
                (SEO) as a mentoring programme to help underserved students gain admission to competitive colleges
                and
                universities.</p>
        </div>

        <div class="sixteen wide tablet sixteen wide mobile eight wide computer middle aligned column">
            <img src="/static/img/about-us/1963.jpg">
        </div>
    </div>
</div>

<div id="about-page">

    <div class="section grey-background">
        <div class="ui relaxed grid container">
            <div class="row separate-on-mobile">
                <div class="sixteen wide tablet sixteen wide mobile eight wide computer column">
                    <img src="/static/img/header.jpg">
                    <h2>1980</h2>
                    <p>SEO New York launches the Career Programme, the first summer internship programme for
                        under-represented college students on Wall Street. In a pioneering diversity initiative, eleven
                        summer interns are placed at five investment banks.</p>
                </div>
                <div class="sixteen wide tablet sixteen wide mobile eight wide computer column">
                    <img src="/static/img/header.jpg">
                    <h2>2000</h2>
                    <p>SEO London is founded by SEO New York Career alumnus, Andrew Fairbairn. Andrew moves to London
                        with a leading investment bank and witnesses the same opportunity to increase workplace
                        diversity using the SEO New York model. That summer, 7 interns start at 5 major investment
                        banks.</p>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide tablet sixteen wide mobile eight wide computer column">
                    <img src="/static/img/header.jpg">
                    <h2>2012</h2>
                    <p>SEO London launches the Scholars Programme to serve high achieving year 11-13 pupils from low
                        socio-economic backgrounds. The Scholars Programme broadens students’ horizons through access to
                        academic, professional and enrichment opportunities.</p>
                </div>
                <div class="sixteen wide tablet sixteen wide mobile eight wide computer column">
                    <img src="/static/img/header.jpg">
                    <h2>2013</h2>
                    <p>SEO London launches the Connect Platform to support SEO Careers alumni and like-minded
                        professionals as they progress their careers. through providing experienced hiring
                        opportunities.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="ui three column stackable relaxed grid container">
            <div class="row">
                <div class="three wide column">
                    <h2 class="today">Today</h2>
                </div>
            </div>
            <div class="justified column">
                <img src="/static/img/header.jpg">
                <h2>In the UK</h2>
                <p>SEO London’s scale has increased significantly across its three flagship programmes, SEO Careers, SEO
                    Scholars and SEO Connect.</p>
                <p>SEO London’s Careers Programme partners with over 50 sponsor firms across eight leading industries
                    and has supported several thousand alumni into internships and graduate roles since 2000.</p>
                <p>SEO Scholars provided hundreds of students with comprehensive training, mentoring and work
                    experience.</p>
                <p>SEO Connect connects our outstanding professionals with experienced job opportunities not just in the
                    UK, but also Africa and Asia.</p>

            </div>
            <div class="justified column">
                <img src="/static/img/header.jpg">
                <h2>In the US</h2>
                <p>SEO USA is considered one of the most innovative and successful educational, career training and
                    professional development programmes for high school and college students of colour in America. SEO
                    USA’s Career Programme now has over 12,000 alumni and supports students into leading industries such
                    as consulting, investment banking and corporate law.</p>
                <p>SEO USA’s founding program, is now SEO Scholars, a rigorous eight-year out-of-school academic program
                    that begins in the 9th grade and continues through college graduation.</p>
            </div>
            <div class="justified column">
                <img src="/static/img/header.jpg">
                <h2>Internationally</h2>
                <p>Driven by SEO alumni leadership, the SEO movement is growing across the globe, with the establishment
                    of SEO Africa, SEO China and SEO Vietnam.</p>
            </div>
        </div>
    </div>

    <div class="the-team section">

        <h2>The Team</h2>

        <div class="ui three column stackable grid">

            <div class="column team" style="background-image:url('/static/img/about-us/team/Andrew-Fairbairn.jpg')">
                <div class="content">
                    <h3>Andrew Fairbarn</h3>
                    <p>Managing Director & Founder, SEO London</p>
                </div>
                <div class="overlay">
                    <p><strong>SEO New York Class of:</strong> 1995</p>
                    <p><strong>Qualifications:</strong> BA Economics at Stanford University, MA International
                        Development Policy at
                        Stanford University.</p>
                    <p><strong>Professional Experience:</strong> Managing Principal at Fairbairn Ventures, Founding
                        Partner at JVKelly
                        Group Inc., Vice President at Deutsche Bank.</p>
                    <p><strong>Top career tip:</strong>  Trusted relationships matter.  Develop mentors, sponsors and
                        protégés as you
                        develop your skills and experience and you&#39;ll be amazed at how far you can go.</p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Bhadresh-Devchand.jpg')">
                <div class="content">
                    <h3>Bhadresh Devchand</h3>
                    <p>Vice-President, Finance, HR & Operations</p>
                </div>
                <div class="overlay">
                    <p><strong>Qualifications:</strong> LLM Corporate Finance Law at University of Westminster, MBA at
                        London Southbank University.</p>
                    <p><strong>Professional Experience:</strong> Executive Director Finance and Resources at Refugee
                        Council, Group Commercial Director at Learning Possibilities Limited, Acting Managing Director
                        at Sotheby’s Institute of Art, Associate Director of Operations at Teach First.</p>
                    <p><strong>Top career tip:</strong>  There is a lesson to be learnt in every experience so keep an
                        open mind and make the most of every opportunity that comes your way. You do make a difference
                        so make it count!</p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Chioma-Oganya.jpg')">
                <div class="content">
                    <h3>Chioma Oganya</h3>
                    <p>Head of Strategy & Communications</p>
                </div>
                <div class="overlay">
                    <p><strong>SEO New York Class of:</strong> 2008</p>
                    <p><strong>Qualifications:</strong> MPhil Economics at Cambridge University, BA Economics at
                        Cambridge University</p>
                    <p><strong>Professional Experience:</strong> Senior Financial Analyst at Tullow Oil, Rates Trader at
                        J.P. Morgan</p>
                    <p><strong>Top career tip:</strong>  Self-awareness is key – understand what you’re passionate about
                        and where your strengths lie. Knowing what motivates you will enable you to make better career
                        decisions.</p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Namrata.jpg')">
                <div class="content">
                    <h3>Namrata Shanbhag</h3>
                    <p>Programme Director</p>
                </div>
                <div class="overlay">
                    <p><strong>Qualifications:</strong> BA Mathematics at Mount Holyoke College, BE Bio-medical
                        Engineering at Dartmouth College, USA</p>
                    <p><strong>Professional Experience:</strong> Programme Manager at SEO London, Associate at Goldman
                        Sachs.
                    </p>
                    <p><strong>Top career tip:</strong>  Build relationships!</p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Heather-Poel.jpg')">
                <div class="content">
                    <h3>Heather Poel</h3>
                    <p>Programme Co-ordinator</p>
                </div>
                <div class="overlay">
                    <p><strong>SEO New York Class of:</strong> 1995</p>
                    <p><strong>Qualifications:</strong> BA History of Art at University of Kent.</p>
                    <p><strong>Professional Experience:</strong> Intern at Sotheby’s, Teacher, Head of Corporate Social
                        Responsibility at IC Bilbao.</p>
                    <p><strong>Top career tip:</strong>  Learn how to ask questions properly. Asking the right
                        questions, to the right people will get you a long way.</p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Chang-Tan.jpg')">
                <div class="content">
                    <h3>Chang Yate Tan</h3>
                    <p>Programme Manager</p>
                </div>
                <div class="overlay">
                    <p><strong>SEO New York Class of:</strong> 2005</p>
                    <p><strong>Qualifications:</strong> BSc Economics at London School of Economics</p>
                    <p><strong>Professional Experience:</strong> Structured Credit Trading Associate at Lehman Brothers,
                        Front Office Risk Management VP at Nomura</p>
                    <p><strong>Top career tip:</strong>  Networking is key - build your network early on and don’t be
                        afraid to ask for help – if you never ask, the answer will always be no</p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Tracey-Abayeta.jpg')">
                <div class="content">
                    <h3>Tracey Abayeta</h3>
                    <p>Programme Manager</p>
                </div>
                <div class="overlay">
                    <p><strong>SEO New York Class of:</strong> 2007</p>
                    <p><strong>Qualifications:</strong> BA Economics with French at University of Nottingham</p>
                    <p><strong>Professional Experience:</strong> Debt Capital Markets at Citi</p>
                    <p><strong>Top career tip:</strong>  Use university as a platform to develop your talents and
                        discover both your strengths and weaknesses. A career is a journey and not a destination so be
                        open, speak to lots of people and seek professional opportunities that will stretch and interest
                        you, as well as expand your network</p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Zubair-Timuri.jpg')">
                <div class="content">
                    <h3>Zubair Timuri</h3>
                    <p>Programme Manager</p>
                </div>
                <div class="overlay">
                    <p><strong>Qualifications:</strong> BSc in International Business & Spanish at Aston University</p>
                    <p><strong>Professional Experience:</strong> Analyst at Eitimaad (Start-up), Trainee Analyst,
                        Mentoring, Compensation & Benefits at Amadeus.</p>
                    <p><strong>Top career tip:</strong>  Find opportunities that provide you with a platform to solve
                        problems and make a tangible impact. Seek a mentor and develop strong professional
                        relationships, they will provide you with the support to excel in your career.</p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Kutchi-Katatumba.jpg')">
                <div class="content">
                    <h3>Kutchi Katatumba</h3>
                    <p>Programme Co-ordinator</p>
                </div>
                <div class="overlay">
                    <p><strong>Qualifications:</strong> BSc Psychology at the University of York, MSc HRM & OA at Kings
                        College London</p>
                    <p><strong>Professional Experience:</strong> HR/Recruitment Consultant at Uganda National Chamber of
                        Commerce, SAP Uganda.</p>
                    <p><strong>Top career tip:</strong>  Strive to always learn from the people around you and value
                        relationships. You have no idea where your colleague will be in 10 years</p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Khatidja-Janmohamed.jpg')">
                <div class="content">
                    <h3>Khatidja Janmohamed</h3>
                    <p>Programme Manager</p>
                </div>
                <div class="overlay">
                    <p><strong>SEO New York Class of:</strong> 1995</p>
                    <p><strong>Qualifications:</strong> Law with European Study LLB at University of Exeter, Legal
                        Practice Course - Qualified Lawyer - England and Wales.</p>
                    <p><strong>Professional Experience:</strong> Trainee solicitor at Linklaters, Graduate recruitment
                        at Linklaters, Latham & Watkins and Freshfields</p>
                    <p><strong>Top career tip:</strong>  You can never quite predict how your career path will work out
                        – therefore, make the most of the opportunities you have, work hard and have fun along the way!
                    </p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Lutfullah-Stanikzai.jpg')">
                <div class="content">
                    <h3>Lutfullah Stanikzai</h3>
                    <p>Programme Co-ordinator</p>
                </div>
                <div class="overlay">
                    <p><strong>Qualifications:</strong> BSc Business Management at Queen Mary University, MSc
                        International Management at King’s College London.</p>
                    <p><strong>Professional Experience:</strong> Previously, SEO Investment Banking Programme</p>
                    <p><strong>Top career tip:</strong>  Be an opportunity hunter, not an opportunity seeker – have
                        confidence in your skills set and find the mutual fit between you and the firm you are applying
                        to.</p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Edward-Imrie.jpg')">
                <div class="content">
                    <h3>Edward Imrie</h3>
                    <p>Programme Co-ordinator</p>
                </div>
                <div class="overlay">
                    <p><strong>Qualifications:</strong> MChem Chemistry at University of Oxford, Graduate Diploma in Law
                        at BBP Law School, Bsc Chemistry at University of Oxford.</p>
                    <p><strong>Professional Experience:</strong> Involved in the set-up of a tutoring agency in the
                        Middle East (Qatar).</p>
                    <p><strong>Top career tip:</strong> Whenever there is an opportunity to network, do so! You never
                        know, you may cross paths with them in future, and if you made a good impression, it will only
                        benefit you!</p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Agnes-Kamara.jpg')">
                <div class="content">
                    <h3>Agnes Kamara</h3>
                    <p>Talent Manager</p>
                </div>
                <div class="overlay">
                    <p><strong>SEO New York Class of:</strong> 2002</p>
                    <p><strong>Qualifications:</strong> BA Education with English at University of Cambridge</p>
                    <p><strong>Professional Experience:</strong> Employee Communications Manager & Executive Management
                        Trainee at HSBC</p>
                    <p><strong>Top career tip:</strong> As you build your career, not everything will go to plan. But,
                        through every experience, find the lesson worth learning, learn it, and stay positive! </p>
                </div>
            </div>

            <div class="column team" style="background-image:url('/static/img/about-us/team/Satveer-Aujla.jpg')">
                <div class="content">
                    <h3>Satveer Aujla</h3>
                    <p>Talent Acquisition Manager</p>
                </div>
                <div class="overlay">
                    <p><strong>Qualifications:</strong> BA Business Economics at University of Hertfordshire</p>
                    <p><strong>Professional Experience:</strong> Strategic Advisor at Barclays, JP Morgan and Paypoint</p>
                </div>
            </div>
        </div>

    </div>

    <div class="section no-padding-top">
        <div class="ui grid container">
            <div class="row">
                <div class="sixteen wide column">
                    <h2>Join the team</h2>
                    <p>We have the following vacancies:</p>
                    <p>If you are interested in working for our organisation, or volunteering with one of our
                        programmes, please contact Bhadresh.devchand@seo-london.org</p>
                </div>
            </div>
            <div class="spaced row">
                <div class="sixteen wide column">
                    <h2>Contact us</h2>
                    <p>Students, alumni, firms, volunteers and donors we would love to hear from you.</p>
                    <a href="/contact" class="ui primary button">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
