{% load cms_tags menu_tags sekizai_tags %}
{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/styles.min.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
    <script src="{% static 'dist/scripts.min.js' %}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% render_block "css" %}
</head>
<body>
{% cms_toolbar %}
<div id="navigation-bar">
    <div class="ui container">
        {% placeholder "Logo" %}
        <nav id="primary-menu" class="desktop links menu">
            <ul>
                {% show_menu 0 100 100 100 %}
                <li><a class="fixed apply-button">Apply</a></li>
                <li><a class="fixed" target="_blank" href="http://www.seolondon-scholars.com/profile">Log In</a></li>
            </ul>
        </nav>
        <nav class="mobile toggle menu">
            <ul>
                <li><a><span>Menu Toggle</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="ui mobile container">
        <nav id="primary-menu" class="mobile vertical links">
            <ul>
                {% show_menu 0 100 100 100 %}
            </ul>
        </nav>
    </div>
</div>

{% block content %}{% endblock content %}

<footer id="footer" class="site-footer" role="contentinfo">
    <div class="ui vertically divided stackable grid container">
        <div class="row">
            <div class="column top">
                <ul class="breadcrumbs">
                    <li class="logo"><a href="/"><img width="100" height="68" src="/static/img/logo.png"></a></li>
                    <li>Home</li>
                </ul>
                <ul class="top-links">
                    <li><a href="tel:+44 (0)207 400 0400"><i class="call icon"></i> +44 (0)207 400 0400</a></li>
                </ul>
            </div>
        </div>
        <div class="middle row">
            <div class="three wide dropdown column">
                <h5 class="title">Quick Links</h5>

                <div class="content">
                    <ul id="footer" class="menu">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Apply to SEO</a></li>
                        <li><a href="#">Join Our Team</a></li>
                        <li><a href="#">Scholars</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Connect</a></li>
                    </ul>
                </div>
            </div>
            <div class="three wide dropdown column">
                <h5 class="title">Social Media</h5>

                <div class="content social">
                    <ul>
                        <li>Scholars</li>
                        <li class="scholars"><a href="#"><i class="facebook square icon"></i></a>
                            <a href="#"><i class="twitter square icon"></i></a>
                            <a href="#"><i class="youtube square icon"></i></a>
                            <a href="#"><i class="instagram square icon"></i></a>
                            <a href="#"><i class="linkedin square icon"></i></a></li>
                        <li>Careers</li>
                        <li class="careers"><a href="#"><i class="facebook square icon"></i></a>
                            <a href="#"><i class="twitter square icon"></i></a>
                            <a href="#"><i class="youtube square icon"></i></a>
                            <a href="#"><i class="instagram square icon"></i></a>
                            <a href="#"><i class="linkedin square icon"></i></a></li>
                        <li>Connect</li>
                        <li class="connect"><a href="#"><i class="facebook square icon"></i></a>
                            <a href="#"><i class="twitter square icon"></i></a>
                            <a href="#"><i class="youtube square icon"></i></a>
                            <a href="#"><i class="instagram square icon"></i></a>
                            <a href="#"><i class="linkedin square icon"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="four wide dropdown column">
                <h5 class="title">Find Us</h5>

                <div class="content">
                    <ul>
                        <li>18-21 Hand Court</li>
                        <li>London</li>
                        <li>WC1V 6JF</li>
                    </ul>
                </div>
            </div>
            <div class="six wide column">
                <h5>Subscribe</h5>

                <p>Sign up to our newsletter to receive continued support and information.</p>

                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-92 mc4wp-ajax" method="post" data-id="92" data-name="Subscribe Footer">
                    <div class="mc4wp-form-fields">
                        <div class="subscribe-footer">
                            <input type="email" name="email" placeholder="Your Email">
                            <button class="primary submit"></button>
                        </div>
                        <div style="display: none;">
                            <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off">
                        </div>
                        <input type="hidden" name="_mc4wp_timestamp" value="1472202159">
                        <input type="hidden" name="_mc4wp_form_id" value="92">
                        <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
                    </div>
                    <div class="mc4wp-response"></div>
                </form>
            </div>
        </div>
        <div class="row legals">
            <div class="sizteen wide center aligned centered column small bottom-middle-links">
                <span class="bigger">Thank you to <a href="http://www.womenhackfornonprofits.com/">Women Hack For Non Profit</a>, <a href="http://www.mindspray.co.uk">Mindspray</a>, <a href="https://www.glendelmdesign.co.uk">Glendelm Design</a>, and <a href="http://spokemarketing.com">Spoke</a> for our beautiful website</span>
                © 2016 SEO London LTD, Registered charity no. 1097832 | Registered in England no. 4159512<br>
                <a href="/sitemap">Sitemap</a> ● <a href="/privacy-policy">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>

<div class="ui apply modal">
    <div class="header">Apply Now</div>
    <div class="content">
        <p>Please click the button below to apply now to the Careers programme / Scholars programme.</p>
        <a href="http://www.seolondon-careers.com/profile" target="_blank" class="ui primary button">Apply Now</a>
    </div>
</div>

{% render_block "js" %}
</body>
</html>
