{% extends "base.html" %}
{% load cms_tags %}
{% load extra_cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

{% placeholder "Header" %}

<div class="ui grid container section careers inner">

    <div class="row">
        <div class="sixteen wide column">
            <h1 class="caps-title teal small">{% placeholder "Career Name" %}</h1>
            <p>{% placeholder "Introductory Text" %}</p>
        </div>
    </div>

    <div class="row">

        <div class="twelve wide middle aligned column">
            <h1 class="light teal very small">{% placeholder "First Year Title" %}</h1>
        </div>

        <div class="twelve wide middle aligned column margin-top-30"">
            <p>{% placeholder "First Year Text" %}</p>
        </div>

    </div>

    <div class="ui three column row margin-top-30 stackable">

        {% placeholder "First Year Support Items" %}

    </div>

    <div class="row">

        <div class="twelve wide middle aligned column">
            <h1 class="light teal very small">{% placeholder "Final Year Title" %}</h1>
        </div>

        <div class="twelve wide middle aligned column margin-top-30"">
            <p>{% placeholder "Final Year Text" %}</p>
        </div>

    </div>

    <div class="sixteen wide column">

        <div class="ui three column relaxed support stackable grid">

            {% placeholder "Penultimate and Final Year Support Items" %}

        </div>

    </div>

    <div class="row">

        <div class="twelve wide middle aligned column">
            <h1 class="light teal very small">{% placeholder "Graduates Title" %}</h1>
        </div>

        <div class="twelve wide middle aligned column">
            <p>{% placeholder "Graduates Text" %}</p>
        </div>

    </div>

    <div class="sixteen wide column">

        <div class="ui three column relaxed support stackable grid">

            {% placeholder "Graduates Support Items" %}

        </div>

    </div>

</div>

<div class="teal-background careers inner">


    <div class="ui grid container section why-unique">

        <div class="four wide column">

            <h1 class="white caps-title">{% placeholder "Sponsors Title" %}</h1>

        </div>

        <div class="twelve wide column">

            <div class="ui three column sponsors  stackable grid">

                {% placeholder "Sponsor Logos" %}

            </div>

        </div>

    </div>

</div>

<div class="ui grid container section industry-programmes careers inner">

    <div class="sixteen wide centered column">

        <h1 class="caps-title orange">{% placeholder "Divisions Title" %}</h1>

        <div class="ui three column stackable grid divisions">

            <div class="column">

                {% placeholder "Divisions Column 1" %}

            </div>

            <div class="column">

                {% placeholder "Divisions Column 2" %}

            </div>

            <div class="column">

                {% placeholder "Divisions Column 3" %}

            </div>

        </div>

        {% get_placeholder "Closing Paragraph" as closing_paragraph %}
        {% if closing_paragraph %}
        {{ closing_paragraph }}
        {% endif %}

    </div>

</div>

{% endblock content %}
