{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}


<div class="slider">
    <ul>
        <li class="masthead careers-page" style="background-image:url('/static/img/banners/careers/banner1.jpg')">
            <div class="ui grid container bottom aligned">
                <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                    <h1 class="only-on-computer">
                        <span>Tiana, Class of 2016</span><br><span>secured a training</span><br><span>contract at Jones Day.</span>
                    </h1>
                    <h1 class="hidden-on-computer">
                        <span>Tiana, Class of 2016, secured a training contract at Jones Day.</span>
                    </h1>
                </div>

                <div class="sixteen wide mobile sixteen wide tablet eight wide computer right aligned text right column buttons">
                    <a class="ui teal button">Apply Now</a>
                    <a class="ui teal button">More Stories</a>
                    <a class="ui teal button">Get Involved</a>
                </div>
            </div>
        </li>
        <li class="masthead careers-page" style="background-image:url('/static/img/banners/careers/banner2.jpg')">
            <div class="ui grid container bottom aligned">
                <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                    <h1 class="only-on-computer">
                        <span>Dennis, current SEO</span><br><span>Candidate, Investment</span><br><span>Baking Programme.</span>
                    </h1>
                    <h1 class="hidden-on-computer"
                    <span>Dennis, current SEO Candidate, Investment Baking Programme.</span>
                    </h1>
                </div>

                <div class="sixteen wide mobile sixteen wide tablet eight wide computer right aligned text right column buttons">
                    <a class="ui teal button">Apply Now</a>
                    <a class="ui teal button">More Stories</a>
                    <a class="ui teal button">Get Involved</a>
                </div>
            </div>
        </li>
        <li class="masthead careers-page" style="background-image:url('/static/img/banners/careers/banner3.jpg')">
            <div class="ui grid container bottom aligned">
                <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                    <h1 class="only-on-computer">
                        <span>Naima Anwar, Diversity Outreach Manager, Civil Service Human Resources</span>
                    </h1>
                    <h1 class="hidden-on-computer">
                        <span>Naima Anwar, Diversity Outreach Manager, Civil Service Human Resources</span>
                    </h1>
                </div>

                <div class="sixteen wide mobile sixteen wide tablet eight wide computer right aligned text right column buttons">
                    <a class="ui teal button">Apply Now</a>
                    <a class="ui teal button">More Stories</a>
                    <a class="ui teal button">Get Involved</a>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="ui grid container section how-we-work careers-page">
    <div class="row">
        <div class="sixteen wide column">
            <h1 class="caps-title teal">How we work</h1>
            <p>We help you excel at the interview, land the internship, or get a full-time job by providing training
                in:</p>
        </div>
    </div>

    <div class="ui three column stackable row margin-top-30">
        <div class="column training-item cv">
            <img src="/static/img/careers/icon-cv.png">
            <span>CV Etiquette</span>
        </div>

        <div class="column training-item cv">
            <img src="/static/img/careers/icons/commercial-awareness.png">
            <span>Commercial Awareness</span>
        </div>

        <div class="column training-item cv">
            <img src="/static/img/careers/icons/presentation-branding.png">
            <span>Presentation Skills & Personal Branding</span>
        </div>

        <div class="column training-item cv">
            <img src="/static/img/careers/icon-cv.png">
            <span>Psychometric Tests</span>
        </div>

        <div class="column training-item cv">
            <img src="/static/img/careers/icons/technical-skills.png">
            <span>Technical Skills</span>
        </div>

        <div class="column training-item cv">
            <img src="/static/img/careers/icons/interviews-assessment.png">
            <span>Interviews & Assessment Centres</span>
        </div>
    </div>
</div>

<div class="teal-background">
    <div class="ui relaxed grid container section why-unique">
        <div class="sixteen wide column">
            <h1 class="white caps-title">Why we're unique</h1>
        </div>

        <div class="white sixteen wide mobile eight wide tablet eight wide computer column justified">
            <p><strong>Our programmes are led by industry professionals.</strong> Our team has worked across a broad
                range of sectors and organisations. We have succeeded at assessment centres, completed graduate training
                programmes and amassed a wealth of commercial knowledge and professional experience to share with you.
            </p>
            <p><strong>We offer cross-industry opportunities in eight sectors</strong> giving you the chance to explore
                what’s out there and learn about the industry that’s right for you.</p>
        </div>

        <div class="white sixteen wide mobile eight wide tablet eight wide computer column justified">
            <p><strong>Our long-established relationships with sponsor firms</strong> open doors to the best contacts
                and career opportunities.</p>
            <p><strong>We have an alumni network of over 5,000 industry mentors</strong>. As you progress through your
                internship, you will receive ongoing mentoring and support direct from the network. As you build your
                professional experience, you get the chance to share your knowledge with the next generation and to join
                our alumni network.</p>
        </div>
    </div>
</div>

<div class="ui grid container section industry-programmes">

    <div class="sixteen wide centered column">

        <h1 class="teal caps-title">Industry Programmes</h1>

        <div class="ui four doubling cards">
            <a href="/careers/advertising" class="card">
                <div class="image">
                    <img src="/static/img/careers/advertising.jpg">
                </div>
                <div class="content">
                    <span class="header">Advertising</span>
                </div>
            </a>
            <a href="/careers/civil-service" class="card">
                <div class="image">
                    <img src="/static/img/careers/civil.jpg">
                </div>
                <div class="content">
                    <span class="header">Civil Service</span>
                </div>
            </a>
            <a href="/careers/csh" class="card">
                <div class="image">
                    <img src="/static/img/careers/CSH.jpg">
                </div>
                <div class="content">
                    <span class="header">City Solicitors Horizons</span>
                </div>
            </a>
            <a href="/careers/consulting" class="card">
                <div class="image">
                    <img src="/static/img/careers/consulting.jpg">
                </div>
                <div class="content">
                    <span class="header">Consulting</span>
                </div>
            </a>
            <a href="/careers/corporate-law" class="card">
                <div class="image">
                    <img src="/static/img/careers/law.jpg">
                </div>
                <div class="content">
                    <span class="header">Corporate Law</span>
                </div>
            </a>
            <a href="/careers/corporates-technology" class="card">
                <div class="image">
                    <img src="/static/img/careers/corporates.jpg">
                </div>
                <div class="content">
                    <span class="header">Corporates & Technology</span>
                </div>
            </a>
            <a href="/careers/engineering" class="card">
                <div class="image">
                    <img src="/static/img/careers/engineering.jpg">
                </div>
                <div class="content">
                    <span class="header">Engineering</span>
                </div>
            </a>
            <a href="/careers/investment-banking" class="card">
                <div class="image">
                    <img src="/static/img/careers/investment-banking.jpg">
                </div>
                <div class="content">
                    <span class="header">Investment Banking, Hedge Funds & Asset Management</span>
                </div>
            </a>
        </div>

    </div>

</div>

{% endblock content %}
