{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="masthead careers-page">
    <div class="ui grid container bottom aligned">
        <div class="eight wide column">
            <h1>
                <span>{% placeholder "Header Title" %}</span>
            </h1>
        </div>

        <div class="eight wide right aligned text right column buttons">
            <a class="ui teal button">Apply Now</a>
            <a class="ui teal button">More Stories</a>
            <a class="ui teal button">Work With Us</a>
        </div>
    </div>
</div>

<div class="ui grid container section careers inner">
    <div class="row">
        <div class="sixteen wide column">
            <h1 class="caps-title teal">{% placeholder "Career Name" %}</h1>
            {# <p>{% placeholder "Introductory Text" %}</p> #}
            <h1 class="light teal">{% placeholder "First Year Title" %}</h1>
            <p>{% placeholder "First Year Text" %}</p>
        </div>
    </div>

    <div class="sixteen wide column">
        <div class="ui three column relaxed support grid">
            {% placeholder "First Year Support Items" %}
        </div>
    </div>

    <div class="row">
        <div class="sixteen wide wide middle aligned column">
            <h1 class="light teal">{% placeholder "Final Year Title" %}</h1>
            <p>{% placeholder "Final Year Text" %}</p>
        </div>
    </div>

    <div class="sixteen wide column">
        <div class="ui three column relaxed support grid">
            {% placeholder "Penultimate and Final Year Support Items" %}
        </div>
    </div>
</div>

<div class="teal-background careers inner">


    <div class="ui grid container section why-unique">

        <div class="sixteen wide column">

            <h1 class="white caps-title">{% placeholder "Sponsors Title" %}</h1>

            <div class="ui four column sponsors grid">
                {% placeholder "Sponsor Logos" %}
            </div>

        </div>

    </div>

</div>

<div class="ui grid container section industry-programmes careers inner">

    <div class="sixteen wide centered column">

        <h1 class="caps-title orange">{% placeholder "Divisions Title" %}</h1>

        <div class="ui three column grid divisions">

            <div class="column">

                {% placeholder "Divisions Column 1" %}

            </div>

            <div class="column">

                {% placeholder "Divisions Column 2" %}

            </div>

            <div class="column">

                {% placeholder "Divisions Column 3" %}

            </div>

        </div>

    </div>

</div>

{% endblock content %}
