{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

{% placeholder "Header" %}

<div class="ui grid container section how-we-work careers-page">
    <div class="row">
        <div class="sixteen wide column">
            <h1 class="caps-title teal">{% placeholder "How We Work Title" %}</h1>
            <p>{% placeholder "How We Work Intro" %}</p>
        </div>
    </div>

    <div class="ui three column stackable row margin-top-30">
        <div class="column training-item cv">
            <img src="/static/img/careers/icon-cv.png" alt="CV icon image">
            <span>CV Etiquette</span>
        </div>

        <div class="column training-item cv">
            <img src="/static/img/careers/icons/commercial-awareness.png" alt="Commercial awareness icon image">
            <span>Commercial Awareness</span>
        </div>

        <div class="column training-item cv">
            <img src="/static/img/careers/icons/presentation-branding.png" alt="presentation branding icon image">
            <span>Presentation Skills &amp; Personal Branding</span>
        </div>

        <div class="column training-item cv">
            <img src="/static/img/careers/icon-cv.png" alt="Psychometric tests icon image">
            <span>Psychometric Tests</span>
        </div>

        <div class="column training-item cv">
            <img src="/static/img/careers/icons/technical-skills.png" alt="Technical skills icon image">
            <span>Technical Skills</span>
        </div>

        <div class="column training-item cv">
            <img src="/static/img/careers/icons/interviews-assessment.png" alt="Interviews and assessment centeres icon image">
            <span>Interviews &amp; Assessment Centres</span>
        </div>
    </div>
</div>

<div class="teal-background">
    <div class="ui relaxed grid container section why-unique">
        <div class="sixteen wide column">
            <h1 class="white caps-title">{% placeholder "Why Unique Title" %}</h1>
        </div>

        <div class="white sixteen wide mobile eight wide tablet eight wide computer column justified">
            {% placeholder "Column 1 Text" %}
        </div>

        <div class="white sixteen wide mobile eight wide tablet eight wide computer column justified">
            {% placeholder "Column 2 Text" %}
        </div>
    </div>
</div>

<div class="ui grid container section industry-programmes">

    <div class="sixteen wide centered column">

        <h1 class="teal caps-title">Industry Programmes</h1>

        <div class="ui four doubling cards">
            <a href="/careers/advertising" class="card">
                <div class="image">
                    <img src="/static/img/careers/advertising.jpg" alt="Advertising careers image">
                </div>
                <div class="content">
                    <span class="header">Advertising</span>
                </div>
            </a>
            <a href="/careers/civil-service" class="card">
                <div class="image">
                    <img src="/static/img/careers/civil.jpg" alt="Civil service careers image">
                </div>
                <div class="content">
                    <span class="header">Civil Service</span>
                </div>
            </a>
            <a href="/careers/csh" class="card">
                <div class="image">
                    <img src="/static/img/careers/CSH.jpg" alt="City Solicitors Horizons careers image">
                </div>
                <div class="content">
                    <span class="header">City Solicitors Horizons</span>
                </div>
            </a>
            <a href="/careers/consulting" class="card">
                <div class="image">
                    <img src="/static/img/careers/consulting.jpg" alt="Consulting careers image">
                </div>
                <div class="content">
                    <span class="header">Consulting</span>
                </div>
            </a>
            <a href="/careers/corporate-law" class="card">
                <div class="image">
                    <img src="/static/img/careers/law.jpg" alt="Law careers image">
                </div>
                <div class="content">
                    <span class="header">Corporate Law</span>
                </div>
            </a>
            <a href="/careers/corporates-technology" class="card">
                <div class="image">
                    <img src="/static/img/careers/corporates.jpg" alt="Corporate technology careers image">
                </div>
                <div class="content">
                    <span class="header">Corporates &amp; Technology</span>
                </div>
            </a>
            <a href="/careers/engineering" class="card">
                <div class="image">
                    <img src="/static/img/careers/engineering.jpg" alt="Engineering careers image">
                </div>
                <div class="content">
                    <span class="header">Engineering</span>
                </div>
            </a>
            <a href="/careers/investment-banking" class="card">
                <div class="image">
                    <img src="/static/img/careers/investment-banking.jpg" alt="Investment Banking, Hedge Funds and Asset Management careers image">
                </div>
                <div class="content">
                    <span class="header">Investment Banking, Hedge Funds &amp; Asset Management</span>
                </div>
            </a>
        </div>

    </div>

</div>

{% endblock content %}
