{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="masthead careers">

    <div class="ui grid container middle aligned">

        <div class="eight wide column">

            <h1>
                <span>Placeholder</span>
            </h1>

        </div>

        <div class="eight wide right aligned text right column buttons">

            <a class="ui button">Apply Now</a>
            <a class="ui button">More Stories</a>
            <a class="ui button">Work With Us</a>

        </div>

    </div>

</div>

<div class="ui grid container section careers inner">

    <div class="row">

        <div class="seven wide column">

            <h1 class="caps-title teal small">Investment Banking, Hedge Funds & Asset Management<br>we work</h1>

        </div>


        <div class="nine wide middle aligned column">

            <p>We work with students in every year of study to help you secure your spring week, internship or graduate
                role. We work with students ine very year of study to help you secure your spring week, internship or
                graduate role.</p>

        </div>

    </div>

    <div class="row">

        <div class="four wide middle aligned column">
            <h1 class="light teal very small">Support for first year students</h1>
        </div>

        <div class="twelve wide middle aligned column">
            <p>Brief description about the first year support. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiumsod tempor indictunt ut labore et dolore magna aliqua.</p>
        </div>

    </div>

    <div class="ui three column row margin-top-30">

        <div class="column training-item cv">
            <div class="number">1</div>
            <span>Short title of benefit</span>
        </div>

        <div class="column training-item cv">
            <div class="number">2</div>
            <span>Short title of benefit</span>
        </div>

        <div class="column training-item cv">
            <div class="number">3</div>
            <span>Short title of benefit</span>
        </div>

        <div class="column training-item cv">
            <div class="number">4</div>
            <span>Short title of benefit</span>
        </div>

        <div class="column training-item cv">
            <div class="number">5</div>
            <span>Short title of benefit</span>
        </div>

        <div class="column training-item cv">
            <div class="number">6</div>
            <span>Short title of benefit</span>
        </div>

    </div>

    <div class="row">

        <div class="four wide middle aligned column">
            <h1 class="light teal very small">Support for penultimate and final year students</h1>
        </div>

        <div class="twelve wide middle aligned column">
            <p>Brief description about the first year support. Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiumsod tempor indictunt ut labore et dolore magna aliqua.</p>
        </div>

    </div>

    <div class="sixteen wide column">

        <div class="ui three column relaxed support grid">

            <div class="inverted column">
                <div class="support">

                    <div class="support-item">
                        <div class="number">1</div>
                        <span>SEO Academy</span>
                    </div>
                    <p>Comprehensive summer training to give you a head start before spring week applications</p>
                </div>
            </div>

            <div class="column">
                <div class="support">
                    <div class="support-item">
                        <div class="number">2</div>
                        <span>Master Class</span>
                    </div>
                    <p>Comprehensive summer training to give you a head start before spring week applications</p>
                </div>
            </div>

            <div class="column inverted">
                <div class="support">

                    <div class="support-item">
                        <div class="number">3</div>
                        <span>Short Title of Benefit</span>
                    </div>
                    <p>Comprehensive summer training to give you a head start before spring week applications</p>

                </div>
            </div>

        </div>

    </div>

</div>

<div class="teal-background careers inner">


    <div class="ui grid container section why-unique">

        <div class="four wide column">

            <h1 class="white caps-title">Our sponsors</h1>

        </div>

        <div class="twelve wide column">

            <div class="ui three column sponsors grid">

                <div class="column">
                    <img src="/static/img/careers/sponsors/morgan-stanley.png">
                </div>

                <div class="column">
                    <img src="/static/img/careers/sponsors/morgan-stanley.png">
                </div>

                <div class="column">
                    <img src="/static/img/careers/sponsors/morgan-stanley.png">
                </div>

                <div class="column">
                    <img src="/static/img/careers/sponsors/morgan-stanley.png">
                </div>

                <div class="column">
                    <img src="/static/img/careers/sponsors/morgan-stanley.png">
                </div>

                <div class="column">
                    <img src="/static/img/careers/sponsors/morgan-stanley.png">
                </div>

                <div class="column">
                    <img src="/static/img/careers/sponsors/morgan-stanley.png">
                </div>

                <div class="column">
                    <img src="/static/img/careers/sponsors/morgan-stanley.png">
                </div>

                <div class="column">
                    <img src="/static/img/careers/sponsors/morgan-stanley.png">
                </div>

                <div class="column">
                    <img src="/static/img/careers/sponsors/morgan-stanley.png">
                </div>


            </div>

        </div>

    </div>

</div>

<div class="ui grid container section industry-programmes careers inner">

    <div class="sixteen wide centered column">

        <h1 class="teal caps-title">Divisions We Support</h1>

        <div class="ui three column grid divisions">

            <div class="column">

                <p>Banking</p>

                <ul>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                </ul>

                <p>Banking</p>

                <ul>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                </ul>

            </div>

            <div class="column">

                <p>Banking</p>

                <ul>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                </ul>

                <p>Banking</p>

                <ul>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                </ul>

            </div>

            <div class="column">

                <p>Banking</p>

                <ul>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                </ul>

                <p>Banking</p>

                <ul>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                    <li>IBD (Corporate Finance)</li>
                </ul>

            </div>

        </div>

    </div>

</div>

{% endblock content %}
