{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="masthead connect">

    <div class="ui grid container middle aligned">

        <div class="eight wide column">

            <h1>
                <span>We prepare talented</span><br><span>students from ethnic</span><br><span>minority or</span><br><span>disadvantaged</span><br><span>backgrounds for career</span><br><span>success.</span>
            </h1>

            <a class="ui primary button">Donate now</a>

        </div>

    </div>

</div>

<div id="connect-page">

    <div class="section">

        <div class="ui grid container">

            <div class="ten wide column">
                <h1>SEO Connect</h1>

                <h2>How we work</h2>

                <p>SEO Careers is our lateral hiring platform that supports our alumni and like-minded professionals as
                    they progress through their careers.</p>

                <p>SEO Careers alumni can access opportunities through Connect when seeking their next career move. The
                    platform also welcomes candidates who have not participated in the Careers programme, who have
                    experience in the industries we support.</p>

                <h2>Why we're unique</h2>

                <p>Our alumni-driven model means that we can provide our candidates with support long after they leave
                    our programmes. The platform is increasingly connecting alumni, to opportunities not only in the UK,
                    but also in Africa and Asia. SEO’s growing global presence continues to make this possible.</p>


                <h2>Industries We Support</h2>

                <div class="ui two column grid">
                    <div class="column">
                        <ul>
                            <li>Private equity</li>
                            <li>Strategy consulting</li>
                            <li>Wealth management</li>
                            <li>Asset Management</li>
                        </ul>
                    </div>

                    <div class="column">
                        <ul>
                            <li>Audit</li>
                            <li>Tax</li>
                            <li>Corporate law</li>
                            <li>Technology</li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="four wide right floated column contact-us">
                <h1>Contact Us</h1>
                <p>Are you interested in signing up to SEO Connect opportunities? Email your CV!</p>
                <p>Are you a firm looking to fill a current vacancy? Please get in touch!</p>
                <a class="ui red button" href="mailto:seoconnect@seo-london.org">Get in Touch</a>
            </div>

        </div>

    </div>

</div>

{% endblock content %}
