{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

    {% placeholder "Header" %}

    <div id="connect-page">
        <div class="section">
            <div class="ui grid container">
                <div class="sixteen wide mobile sixteen wide tablet ten wide computer column">
                    <h1>SEO Connect</h1>

                    {% placeholder "Left Hand Content" %}

                </div>

                <div class="sixteen wide mobile sixteen wide tablet four wide computer right floated column contact-us">
                    <h1>Contact Us</h1>

                    {% placeholder "Right Hand Content" %}

                    <a class="ui red button" href="mailto:seoconnect@seo-london.org">Get in Touch</a>
                </div>

            </div>

        </div>

    </div>

{% endblock content %}
