{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="masthead" style="background-image:url('/static/img/banners/faq/banner1.jpg');">
    <div class="ui grid container bottom aligned">
        <div class="eight wide column">
            <h1>
                <span>We prepare talented</span><br>
                <span>students from ethnic</span><br>
                <span>minority or</span><br>
                <span>disadvantaged</span><br>
                <span>backgrounds for career</span><br>
                <span>success.</span>
            </h1>
        </div>

        <div class="eight wide right aligned text right column buttons">
            <a class="ui secondary donate button">Donate now</a>
        </div>
    </div>
</div>

<div id="faq-page">

    <div class="section">

        <div class="ui grid container">

            <div class="sixteen wide column">

                <div class="ui pointing secondary menu">
                    <a class="active item" data-tab="first">Eligibility</a>
                    <a class="item" data-tab="second">Applying</a>
                    <a class="item" data-tab="third">Reference</a>
                    <a class="item" data-tab="fourth">Technical</a>
                    <a class="item" data-tab="fifth">CSH</a>
                </div>

                <!--Eligibility-->
                <div class="ui bottom attached active tab" data-tab="first">
                    <div class="ui fluid accordion">

                        <div class="active title">
                            <i class="dropdown icon"></i>
                            What does ‘first generation’ mean? 
                        </div>
                        <div class="active content">
                            <p>You count as first generation to go to university, even if the following have gone to
                                university:</p>
                            <ul>
                                <li>Brothers or Sisters</li>
                                <li>Biological parents of applicants who have been adopted</li>
                                <li>A parent with whom you have had no contact during your secondary and post-16
                                    education (or longer)
                                </li>
                                <li>Uncles, aunts and other members of your extended family</li>
                            </ul>

                            <p>You do not count as first generation if the following have gone to university or are
                                currently doing so:</p>
                            <ul>
                                <li>Parents</li>
                                <li>Step parents</li>
                            </ul>

                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            What does 'going to university' mean? 
                        </div>
                        <div class="content">
                            <p>'Going to university' means studying for a higher education qualification equivalent to
                                at least one year full-time. This is normally equivalent to at least 120 points at
                                higher education level and can be a certificate, diploma, degree or above.</p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Who is a 'care leaver'? 
                        </div>
                        <div class="content">
                            <p>The definition of a care leaver (Care Leavers Association) is “Any adult who spent time
                                in care as a child (i.e. under the age of 18). Such care could be in foster care,
                                residential care (mainly children’s homes), or other arrangements outside the immediate
                                or extended family. The care could have been provided directly by the state (mainly
                                through local authority social services departments) or by the voluntary or private
                                sector (e.g. Barnardo’s, The Children’s Society and many others). It can range from as
                                little as a few months to as long as one’s whole childhood (18 years). 
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            I am a final year student - may I still apply to SEO-London?
                        </div>
                        <div class="content">
                            <p>Yes. The SEO programme is now open to students in ALL years of study. If you are a final
                                year student or recent graduate, you can apply for graduate roles and training
                                contracts. If you are a penultimate year student or a final year student intending on
                                pursuing a Masters programme for 2015-16, you can apply for the summer internship
                                programmes. Please note that if you are a final year student applying for internships,
                                you will need to confirm which master’s programme you are considering when you apply. If
                                you are offered a place on the programme, you will need to provide confirmation of your
                                applications for master’s programmes. Before your internship begins you may need to
                                provide us with a copy of your acceptance letter.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            What year of study should I be in to apply for vacation placements? Is the programme open to
                            non-law students?
                        </div>
                        <div class="content">
                            <p>Students completing a summer 2015 vacation scheme should be on track to complete their
                                academic and legal qualifications by the end of the 2015-2016 academic year in order to
                                start full time with partner law firms in the summer of 2016 or spring 2017. This
                                means:</p>
                            <ul>
                                <li>Law students can apply in either their penultimate or final year of undergraduate
                                    study (before going on to complete their LPC);
                                </li>
                                <li>Non law students should generally be in their final year of undergraduate study
                                    (before going on to complete their GDL and LPC); and
                                </li>
                                <li>Students currently at Law School should be on track to complete their LPC in the
                                    2015-2016 academic year.
                                </li>
                            </ul>
                            <p>Please note we will also accept applications from penultimate year non law students and
                                students completing their LPC before 2015-2016 but for such students we cannot guarantee
                                placement at all partner firms and decisions will be made on a discretionary basis.</p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Does it matter that I have already done internships/vacation schemes with other non-sponsor
                            firms?
                        </div>
                        <div class="content">
                            <p>No.</p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            I did not achieve BBB equivalent at A-level and/or am not on track for a 1st/2.1 at
                            university. Can I still apply to SEO London?
                        </div>
                        <div class="content">
                            <p>Applicants who do not achieve a minimum of BBB at A-level or who are not on track for a
                                minimum of a 2.1 at university will generally not be considered for the investment
                                banking and consulting programmes unless there are mitigating circumstances (e.g.
                                medical issues, for which the applicant would have to provide official documentation).
                                If you have mitigating circumstances, you can indicate these on the application form.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            I am an international student who is not studying in the UK at present - can I apply?
                        </div>
                        <div class="content">
                            <p>To be eligible to apply you must have studied within the UK or EU for at least one year
                                and must also be available in person for interviews (held in October through to
                                February). All international applicants should be intending to start their careers in
                                London after graduation and remain for at least three years.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            I am an international student studying in the UK but need a work permit to work in the UK –
                            can I apply?
                        </div>
                        <div class="content">
                            <p>Yes you can still apply. Many of our sponsor firms sponsor work permits for successful
                                candidates.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            I have made a past application to SEO in previous years. Can I still apply for this year’s
                            class?
                        </div>
                        <div class="content">
                            <p>Yes, you are eligible to apply again but you must meet our eligibility criteria and
                                resubmit your application with your updated information. You only need to log in to your
                                online dashboard using your existing login details, update your profile (such as CV,
                                industry preferences, etc.) and resubmit your application. You do not need to create a
                                new online account.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            I was recommended by SEO last year. Can I still apply for this year’s class?
                        </div>
                        <div class="content">
                            <p>Yes. If you were previously recommended by SEO to our sponsor firms, SEO will be able to
                                fast track you through some stages, meaning in most cases you will not need to go
                                through any online tests/phone interviews that you may have completed with us last
                                cycle. We do however need you to resubmit an application.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            I have made an application to SEO London; am I also eligible to apply to SEO USA?
                        </div>
                        <div class="content">
                            <p>Yes, as long as you meet the eligibility criteria. Please see www.seo-usa.org.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            I have made an application to SEO USA, am I also eligible to apply to SEO London?
                        </div>
                        <div class="content">
                            <p>Yes, as long as you meet our eligibility criteria. You must have studied or be planning
                                to study in the UK for at least one year and you must also be available in person for
                                interviews (held in October through to February). You should also be aware of our
                                deadlines and make sure these dates complement your own schedule if you will be studying
                                outside the UK.
                            </p>
                        </div>
                    </div>
                </div>

                <!--Application-->
                <div class="ui bottom attached tab" data-tab="second">
                    <div class="ui fluid accordion">
                        <div class="active title">
                            <i class="dropdown icon"></i>
                            What does the SEO application entail?
                        </div>
                        <div class="active content">
                            <p>The SEO application form has been significantly shortened. All you need is to fill in
                                your personal details and upload a CV.</p>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Can SEO help with my CV?
                        </div>
                        <div class="content">
                            <p>Yes absolutely. There are also some sample CV templates on the application form which you
                                can download and fill in with your own information. However you should submit your
                                application as soon as possible. Upon submission, if we feel that you have a strong
                                application but need help with your CV, we will absolutely contact you to help improve
                                your CV even further.</p>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            A significant portion of my education has taken place outside of the UK. How do you advise
                            that I fill out the education portion of the application?
                        </div>
                        <div class="content">
                            <p>You should fill out the application as best as you can with the international equivalent
                                for each academic qualification. If you are unable to do this please mention so and
                                detail the information on your CV so that we know to refer to that.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            I have only applied to a few firms directly at this point, but I plan to apply to more in
                            the next few weeks. Should I include the banks to which I plan to apply on the SEO
                            application?
                        </div>
                        <div class="content">
                            <p>There is a place on the application form where you can advise us about this. Please note
                                that if you are applying to any of our sponsor firms, please ensure you select SEO as
                                your affiliation. This may help endorse any direct applications you may be making. You
                                can do this by selecting "yes" when asked if you are an SEO candidate or selecting "SEO"
                                when asked about how you heard about the firm.</p>
                            <p>Please note:</p>
                            <ul>
                                <li>SEO will not be able to recommend you to any bank where your direct application has
                                    been rejected.
                                </li>
                                <li>We would therefore advise you to pay close attention to the screening criteria that
                                    a bank details for those interested in applying (in particular, the academic grades
                                    required at A-level, university, etc.). Given the extremely high number of
                                    internship applications most banks receive, these grade requirements can often be
                                    very high and therefore result in your application being automatically rejected if
                                    you do not meet them
                                </li>
                                <li>We always recommend that you make direct applications in addition to your SEO
                                    application to make sure you maximise your chances of gaining an internship or
                                    graduate
                                    role.
                                </li>
                            </ul>
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            When I apply to SEO London, is my application sent to the sponsor firms?
                        </div>
                        <div class="content">
                            <p>No. When you apply to SEO London, your SEO application is only for our office and we do
                                not pass this through to our sponsor firms. However, if you are successful through the
                                SEO process, the final stage of recommendations will require us to send your CV and
                                reference letter to sponsor firms.</p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            My CV is longer than one page for X reason, what should I do?
                        </div>
                        <div class="content">
                            <p>You should submit a one page CV with your SEO application. If for any reason you need to
                                submit a longer CV, please be aware that if you are successful in being offered a place
                                on the SEO programme, you would then need to update your CV to be no longer than one
                                page. You should try and cut your CV down appropriately from now; please use the sample
                                CVs as a guide to the type of layout and things you should be including.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            When will I hear back about the status of my online application?
                        </div>
                        <div class="content">
                            <p>You can expect to hear back within 4- 6 weeks.</p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            What happens after I submit my application?
                        </div>
                        <div class="content">
                            <p>After you submit your application, there are three rounds of assessment. The first is the
                                screening of your application form. If you are successful through this, the second stage
                                will be a short telephone/in person interview. Following this, the third and final round
                                of assessment will be an online numerical and/or verbal reasoning test. If you are
                                successful with the online tests you will proceed to the final stage of the SEO process,
                                which is the recommendation stage.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            What happens if I am successful to the final stage (recommendation stage)
                        </div>
                        <div class="content">
                            <p>If you are told by SEO that you have made it to the final recommendation stage of the SEO
                                assessment process, this means that your CV and reference letter will be sent to our
                                partner firms for review. Sponsor firms will then decide who they would like to call
                                through to interview. We will be indicating to the sponsor firms that they can either
                                reach out to you directly or they can contact SEO and we will get in touch with you
                                regarding next steps. If you are contacted directly, you should let SEO know as SEO will
                                provide you with materials and coaching for your interviews.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Can SEO provide access to more than one firm and more than one industry?
                        </div>
                        <div class="content">
                            <p>Yes, students can complete multiple internships and vacation placements through the
                                scheme. SEO can recommend you to more than one industry and to multiple firms across
                                each industry. As long as there are no logistical clashes, you can do as many
                                internships/vacation placements as you get offers for.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            If I am recommended will I have to go through the entire firm direct process?
                        </div>
                        <div class="content">
                            <p>Those that are called through to interview will be (in some cases) fast tracked to final
                                round assessment stages. However, each firm will have their individual processes, but
                                SEO will provide plenty of support and guidance with these interview stages.
                            </p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            Can the SEO programme be used for help and support with the graduate and training contract
                            application process if I become a successful SEO candidate?
                        </div>
                        <div class="content">
                            <p>SEO will support students before, during and after their internships and vacation schemes
                                to maximise their chances of securing a graduate role or training contract with a
                                partner firm. More than 80% of SEO alumni have secured full-time positions with partner
                                firms following their summer experience. SEO provides ongoing support to alumni in the
                                industry throughout their careers.
                            </p>
                        </div>
                    </div>
                </div>

                <!--References-->
                <div class="ui bottom attached tab" data-tab="third">
                    <div class="ui fluid accordion">
                        <div class="active title">
                            <i class="dropdown icon"></i>
                            Who should provide my letter of recommendation?
                        </div>
                        <div class="active content">
                            <p>Recommendations must be provided by a current academic lecturer or tutor (i.e. not a
                                sixth form teacher or former / current employer) who can comment on your academic
                                record.</p>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Can my recommendation provider submit my recommendations via e-mail?
                        </div>
                        <div class="content">
                            <p>The recommendation cannot be submitted to SEO via email as it would not be official but
                                they can use the online system to submit references in soft copy. If your provider is
                                unable to complete the letter online via the application system he/she should
                                alternatively post it to us directly and on official university letterhead.</p>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            I would like to add an additional letter of reference or change my referee, but I have
                            already submitted my application. What do I do?
                        </div>
                        <div class="content">
                            <p>In this case, please ask your referee to send a hardcopy (in university headed paper) by
                                post. Please address it to SEO London, 18 - 21 Hand Court, London WC1V 6JF. This will be
                                updated on the system within 1-2 weeks upon receipt.</p>
                        </div>

                        <div class="title">
                            <i class="dropdown icon"></i>
                            How will I know if SEO London has received my letter of reference?
                        </div>
                        <div class="content">
                            <p>You will be able to go back into your application and check that the letter has been
                                submitted by using your login details. </p>
                            <p>Once your application says the reference has been submitted, please take this as
                                confirmation that we have it stored in our system.</p>
                        </div>
                    </div>
                </div>

                <!--Technical Problems-->
                <div class="ui bottom attached tab" data-tab="fourth">
                    <div class="ui fluid accordion">
                        <div class="active title">
                            <i class="dropdown icon"></i>
                            I am having technical problems with my application. Who should I call?
                        </div>
                        <div class="active content">
                            <p>If you are unable to login because you have forgotten your username or password please
                                click on 'Forgot Login' and follow the instructions.</p>
                            <p>You can also email info@seo-london.org if you are experiencing technical issues.</p>
                        </div>
                    </div>
                </div>

                <!--CSH-->
                <div class="ui bottom attached tab" data-tab="fifth">
                    <p>For frequently asked questions, please click here.</p>
                </div>

            </div>

        </div>

    </div>

</div>

{% endblock content %}
