{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="slider">
    <ul>
        <li class="masthead" style="background-image:url('/static/img/banners/get-involved/banner1.jpg')">
            <div class="ui grid container bottom aligned">
                <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                    <h1>
                        <span>“From SEO, I learned the</span><br><span>power of giving back.”</span><br><span>Dennis, current Candidate</span><br><span>Investment Banking</span><br><span> Programme</span>
                    </h1>
                </div>

                <div
                    class="sixteen wide mobile sixteen wide tablet eight wide computer right aligned text right column buttons">
                    <a class="ui primary donate button">Donate now</a>
                </div>
            </div>
        </li>
        <li class="masthead" style="background-image:url('/static/img/banners/get-involved/banner2.jpg')">
            <div class="ui grid container bottom aligned">
                <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                    <h1>
                        <span>“I wanted to give back to</span><br><span> SEO because the training</span><br><span>and support I received</span><br><span>when I needed it most</span><br><span>completely changed my</span><br><span>life.”</span><br>
                        <span>Shanshan, Class of 2016</span><br><span>Investment Banking</span><br><span>Programme.</span>
                    </h1>
                </div>

                <div
                    class="sixteen wide mobile sixteen wide tablet eight wide computer right aligned text right column buttons">
                    <a class="ui primary donate button">Donate now</a>
                </div>
            </div>
        </li>
        <li class="masthead" style="background-image:url('/static/img/banners/get-involved/banner3.jpg')">
            <div class="ui grid container bottom aligned">
                <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                    <h1>
                        <span>Placeholder</span>
                    </h1>
                </div>

                <div
                    class="sixteen wide mobile sixteen wide tablet eight wide computer right aligned text right column buttons">
                    <a class="ui primary donate button">Donate now</a>
                </div>
            </div>
        </li>
    </ul>
</div>

<div id="get-involved-page">
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="teal caps-title">Get Involved</h1>
                <p>SEO London continues to exist because of the passion and dedication of our supporters. Whether it’s
                    through volunteering, mentoring, training or sponsorship; we rely on all of you to be able to
                    continue doing the work we do to support our candidates.</p>
            </div>
        </div>
    </div>

    <div class="ui three column stackable grid">
        <div class="column become" style="background-image:url('/static/img/get-involved/become-a-mentor.jpg')">
            <div class="content">
                <h2>Become a Mentor</h2>
                <p>Whether you are part of the alumni or just a supporter, inspire our Careers and Scholars
                    candidates.</p>
                <a href="#mentor" class="ui orange button">Learn How</a>
            </div>
        </div>
        <div class="column become" style="background-image:url('/static/img/banners/get-involved/banner2.jpg')">
            <div class="content">
                <h2>Volunteer</h2>
                <p>Current candidates, alumni and supporters can get involved in our events, training or delivering one
                    of our projects.</p>
                <a href="#volunteer" class="ui orange button">Learn How</a>
            </div>
        </div>
        <div class="column become">
            <div class="content">
                <h2>Become a Sponsor Firm</h2>
                <p>We are always keen to hear from firms who want to work with us in delivering their CSR, diversity and
                    recruitment objectives.</p>
                <a href="#sponsor" class="ui orange button">Learn How</a>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="teal caps-title" id="mentor">Become a Mentor</h1>
                <div class="ui fluid accordion">
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        What is a mentor?
                    </div>
                    <div class="active content">
                        <p>(n.) a wise and trsuted counsellor and teacher</p>
                        <p>Mentoring is a qualitative experience and is difficult to quantify. The benefits are not
                            always immediate. It should be a symbiotic, rather than a parasitic relationship. As a
                            group, SEO candidates come from backgrounds that are traditionally underexposed to
                            industries that we provide access to. Often, they know far fewer people in the industry and
                            can greatly benefit from the mentoring and networking opportunities.</p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        What are the benefits of mentoring?
                    </div>
                    <div class="content">
                        <p>Candidates:</p>
                        <ul>
                            <li>Exposure to an experienced professional with vast knowledge about an industry.</li>
                            <li>Access to a sounding board to help you develop a mature perspective on an industry of
                                interest.
                            </li>
                            <li>Access to a confidante who you can be completely honest with helps to develop a sense of
                                comfort and belonging. This is useful, in particular, in keeping talented ethnic
                                minorities and women in industry.
                            </li>
                            <li>Access to someone who cheers you on and helps boost your confidence and self-esteem.
                            </li>
                            <li>Access to a positive role model who is where you’d like to be and prioritises giving
                                back.
                            </li>
                            <li>Access to additional networking opportunities, created through your mentors’ contacts.
                            </li>
                        </ul>

                        <p>Mentors:</p>
                        <ul>
                            <li>Taken an opportunity to give back.</li>
                            <li>Demonstrating your support for broader diversity initiatives.</li>
                            <li>Reflecting on your own success and career path.</li>
                            <li>Developing coaching skills someone and further develop these coaching skills.</li>
                            <li>Access to potential mentors for your own career.</li>
                            <li>Mentors frequently have great admiration and respect for their SEO mentees and report
                                back that they feel they gained more from the experience than the mentees themselves.
                                Many mentees are remarkable and accomplished young people and many have overcome great
                                obstacles.
                            </li>
                        </ul>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        What is the skill set of an effective mentor?
                    </div>
                    <div class="content">
                        <ul>
                            <li>Ability to listen.</li>
                            <li>Ability to give constructive and helpful feedback.</li>
                            <li>An understanding of the importance of professional relationship building, particularly
                                for people who come from backgrounds that do not traditionally have established networks
                                within industry.
                            </li>
                            <li>Honesty</li>
                            <li>Objectivity</li>
                            <li>Willingness to provide thoughtful coaching and guidance.</li>
                            <li>Non-judgmental and open approach</li>
                            <li>Supportive nature, particularly when mentee makes mistakes.</li>
                            <li>A Desire to help mentee do his/her best and recover from setbacks</li>
                            <li>Ability to openly discuss gender, identity, ethnicity, etc., and to consider multiple
                                perspectives about how these play into the workforce.
                            </li>
                        </ul>
                    </div>
                </div>

                <h1 class="caps-title teal">Matching mentors to mentees</h1>
                <p>We typically look to match mentees to mentors with common interests or backgrounds. This can include
                    any of the following – secondary school, university, degree, ethnic background, regional background,
                    personal or business interests. Alternatively, if you feel that there is a certain personality type
                    that you would be best suited to mentoring we can also look to ensure your mentee fits this
                    profile.</p>

                <div class="ui very relaxed stackable two column grid">
                    <div class="column">
                        <img class="logo-img" src="/static/img/logo-scholars.png">
                        <p>Mentoring on the Scholars programme requires less than one hour a week of your time with the
                            majority
                            of interaction taking place over a secure online e-mentoring platform. This is extremely
                            easy to use
                            and will make interacting with your mentee simple and convenient wherever you are.</p>
                        <p>As the beneficiaries of the Scholars programme are 18 and under, there is a level of
                            safeguarding
                            that we must adhere to. All volunteers offering to become mentors for the Scholars programme
                            must
                            complete a
                            CRB application for an Enhanced Disclosure and attend a child protection &amp; mentoring
                            training
                            session. If you are interested in becoming a mentor contact Namrata Shanbhag
                            at Namrata.Shanbhag@seo-london.org/ scholars@seo-london.org</p>
                    </div>

                    <div class="column">
                        <img class="logo-img" src="/static/img/logo-careers.png">
                        <p>We want our interns to have the best possible experience during their internships so they
                            will be the
                            top hiring choice at their firm at the end of the summer. Students are allocated an industry
                            mentor
                            to help guide them through their summer experience and ensure they outperform their
                            peers.</p>
                        <p>We would hope that the time commitment should be no more than a few hours over the course of
                            the
                            summer. This would include meeting the student at least once for a coffee or lunch and then
                            being
                            available for follow up calls and emails during their summer placements. If a student
                            requires any
                            in-depth support this is something that will be provided by the SEO staff and alumni
                            network, where
                            possible.</p>
                        <p>If you are interested in becoming a mentor please contact Chioma Oganya at
                            Chioma.Oganya@seo-london.org/ careers@seo-london.org</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section teal-background">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="center-align caps-title" id="volunteer">Volunteer</h1>
                <p>If you are looking for work experience, an opportunity to develop your skills, or if you would like
                    to give back; we’re always engaging in different projects and initiatives to help move the charity
                    forward, that you can be part of.</p>
                <p>If you are interested in volunteering please register your interest by emailing Chioma Oganya at
                    Chioma.Oganya@seo-london.org/ info@seo-london.org.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="teal center-align caps-title" id="sponsor">Become a Sponsor Firm</h1>
                <p>SEO can help corporate sponsors access the brightest and most talented students from
                    under-represented and under-served communities at both secondary school (SEO Scholars) and
                    university (SEO Careers) level for mentoring, internship and graduate recruitment opportunities.</p>
                <p>Benefits for Sponsors:</p>
                <div class="ui very relaxed grid">
                    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                        <ul>
                            <li>A national pipeline to the UK’s most talented secondary school and university students
                                from
                                under-represented communities.  SEO partners with leading non fee paying schools across
                                all 32
                                London Education Authorities and visits 50+ UK university campuses every year.
                            </li>
                            <li>SEO’s extensive screening, interviewing and selection process to choose the strongest
                                candidates
                                for SEO partners. By working closely with its partners, SEO gains a comprehensive
                                understanding
                                of the requirements for success in each environment.
                            </li>
                        </ul>
                    </div>
                    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                        <ul>
                            <li>Opportunity to host an executive roundtable, seminar, or reception to showcase your
                                organisation&#39;s
                                mission, culture, and opportunities to the broader candidate group.
                            </li>
                            <li>SEO partners with industry leading firms across a huge range of career paths.  This
                                includes
                                global companies, prestigious investment banks and technology firms, top-ranked
                                corporate law
                                firms, and elite strategy consultancy firms and advertising and marketing agencies.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
