{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="masthead">

    <div class="ui grid container middle aligned">

        <div class="eight wide column">

            <h1>
                <span>We prepare talented</span><br><span>students from ethnic</span><br><span>minority or</span><br><span>disadvantaged</span><br><span>backgrounds for career</span><br><span>success.</span>
            </h1>

            <a class="ui secondary donate button">Donate now</a>

        </div>

    </div>

</div>

<div id="get-involved-page">
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide column">
                <h1 class="teal">Get Involved</h1>
                <p>SEO London continues to exist because of the passion and dedication of our supporters. Whether it’s
                    through volunteering, mentoring, training or sponsorship; we rely on all of you to be able to
                    continue doing the work we do to support our candidates.</p>
            </div>
        </div>
    </div>
    <div class="section teal-background">
        <div class="ui grid container">
            <div class="sixteen wide column">
                <p class="big">Part of our DNA is a strong giving back ethos. Our mentors and trainers are former SEO
                    students who,
                    having
                    gone on to successful careers, return to nurture the next generation.</p>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="column become">
            <div class="content">
                <h2>Become a Mentor</h2>
                <p>Whether you are part of the alumni or just a supporter, inspire our Careers and Scholars
                    candidates.</p>
                <a class="ui orange button">Learn How</a>
            </div>
        </div>
        <div class="column become">
            <div class="content">
                <h2>Volunteer</h2>
                <p>Current candidates, alumni and supporters can get involved in our events, training or delivering one
                    of our projects.</p>
                <a class="ui orange button">Learn How</a>
            </div>
        </div>
        <div class="column become">
            <div class="content">
                <h2>Become a Sponsor Firm</h2>
                <p>We are always keen to hear from firms who want to work with us in delivering their CSR, diversity and
                    recruitment objectives.</p>
                <a class="ui orange button">Learn How</a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide column">
                <h1 class="center-align teal">Become a Mentor</h1>
                <div class="ui fluid accordion">
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        What is a dog?
                    </div>
                    <div class="active content">
                        <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be
                            found as a welcome guest in many households across the world.</p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        What kinds of dogs are there?
                    </div>
                    <div class="content">
                        <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select
                            a breed of dog that they find to be compatible with their own lifestyle and desires from a
                            companion.</p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        How do you acquire a dog?
                    </div>
                    <div class="content">
                        <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners,
                            or shelters.</p>
                        <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner
                            allows you to assess the pedigree and upbringing of your dog before choosing to take it
                            home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not
                            find one so readily.</p>
                    </div>
                </div>
                <h2>Matching mentors to mentees</h2>
                <p>We typically look to match mentees to mentors with common interests or backgrounds. This can include
                    any of the following – secondary school, university, degree, ethnic background, regional background,
                    personal or business interests. Alternatively, if you feel that there is a certain personality type
                    that you would be best suited to mentoring we can also look to ensure your mentee fits this
                    profile.</p>
                <h2>Get Involved</h2>
                <h3>SEO Scholars</h3>
                <p>Mentoring on the Scholars programme requires less than one hour a week of your time with the majority
                    of interaction taking place over a secure online e-mentoring platform. This is extremely easy to use
                    and will make interacting with your mentee simple and convenient wherever you are.</p>
                <p>As the beneficiaries of the Scholars programme are 18 and under, there is a level of safeguarding
                    that we must adhere to. All volunteers offering to become mentors for the Scholars programme must
                    complete a
                    CRB application for an Enhanced Disclosure and attend a child protection &amp; mentoring training
                    session. If you are interested in becoming a mentor contact Namrata Shanbhag
                    at Namrata.Shanbhag@seo-london.org/ scholars@seo-london.org</p>
                <h3>SEO Careers</h3>
                <p>We want our interns to have the best possible experience during their internships so they will be the
                    top hiring choice at their firm at the end of the summer. Students are allocated an industry mentor
                    to help guide them through their summer experience and ensure they outperform their peers.</p>
                <p>We would hope that the time commitment should be no more than a few hours over the course of the
                    summer. This would include meeting the student at least once for a coffee or lunch and then being
                    available for follow up calls and emails during their summer placements. If a student requires any
                    in-depth support this is something that will be provided by the SEO staff and alumni network, where
                    possible.</p>
                <p>If you are interested in becoming a mentor please contact Chioma Oganya at
                    Chioma.Oganya@seo-london.org/ careers@seo-london.org</p>
            </div>
        </div>
    </div>
    <div class="section teal-background">
        <div class="ui grid container">
            <div class="sixteen wide column">
                <h1 class="center-align">Volunteer</h1>
                <p>If you are looking for work experience, an opportunity to develop your skills, or if you would like
                    to give back; we’re always engaging in different projects and initiatives to help move the charity
                    forward, that you can be part of.</p>
                <p>If you are interested in volunteering please register your interest by emailing Chioma Oganya at
                    Chioma.Oganya@seo-london.org/ info@seo-london.org.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide column">
                <h1 class="teal center-align">Become a Sponsor Firm</h1>
                <p>SEO can help corporate sponsors access the brightest and most talented students from
                    under-represented and under-served communities at both secondary school (SEO Scholars) and
                    university (SEO Careers) level for mentoring, internship and graduate recruitment opportunities.</p>
                <p>benefits for Sponsors:</p>
                <ul>
                    <li>A national pipeline to the UK’s most talented secondary school and university students from
                        under-represented communities.  SEO partners with leading non fee paying schools across all 32
                        London Education Authorities and visits 50+ UK university campuses every year.
                    </li>
                    <li>SEO’s extensive screening, interviewing and selection process to choose the strongest candidates
                        for SEO partners. By working closely with its partners, SEO gains a comprehensive understanding
                        of the requirements for success in each environment.
                    </li>
                    <li>Opportunity to host an executive roundtable, seminar, or reception to showcase your organisation&#39;s
                        mission, culture, and opportunities to the broader candidate group.
                    </li>
                    <li>SEO partners with industry leading firms across a huge range of career paths.  This includes
                        global companies, prestigious investment banks and technology firms, top-ranked corporate law
                        firms, and elite strategy consultancy firms and advertising and marketing agencies.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
