{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

{% placeholder "Header" %}

<div id="get-involved-page">
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="teal caps-title">Get Involved</h1>
                {% placeholder "Intro Text" %}
            </div>
        </div>
    </div>

    <div class="ui three column stackable grid">
        <div class="column become" style="background-image:url('/static/img/get-involved/become-a-mentor.jpg')">
            <div class="content">
                <h2>Become a Mentor</h2>
                <p>{% placeholder "Mentor Intro" %}</p>
                <a href="#mentor" class="ui orange button">Learn How</a>
            </div>
        </div>
        <div class="column become" style="background-image:url('/static/img/banners/get-involved/banner2.jpg')">
            <div class="content">
                <h2>Volunteer</h2>
                <p>{% placeholder "Volunteer Intro" %}</p>
                <a href="#volunteer" class="ui orange button">Learn How</a>
            </div>
        </div>
        <div class="column become">
            <div class="content">
                <h2>Become a Sponsor Firm</h2>
                <p>{% placeholder "Sponsor Firm Intro" %}</p>
                <a href="#sponsor" class="ui orange button">Learn How</a>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="teal caps-title" id="mentor">Become a Mentor</h1>
                <div class="ui fluid accordion">
                    {% placeholder "Questions" %}
                </div>

                <h1 class="caps-title teal">Matching mentors to mentees</h1>
                <p>{% placeholder "Matching Mentors Text" %}</p>

                <div class="ui very relaxed stackable two column grid">
                    <div class="column">
                        <img class="logo-img" src="/static/img/logo-scholars.png" alt="SEO Scholars logo image">
                        {% placeholder "Scholars Text" %}
                    </div>

                    <div class="column">
                        <img class="logo-img" src="/static/img/logo-careers.png" alt="SEO Careers logo image">
                        {% placeholder "Careers Text" %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section teal-background">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="center-align caps-title" id="volunteer">Volunteer</h1>
                {% placeholder "Volunteer Text" %}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="teal center-align caps-title" id="sponsor">Become a Sponsor Firm</h1>
                {% placeholder "Become a Sponsor Text" %}
                <div class="ui very relaxed grid">
                    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                        {% placeholder "Benefits Left" %}
                    </div>
                    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                        {% placeholder "Benefits Right" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
