{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

{% placeholder "Header" %}

<div class="services section ui three column stackable relaxed grid container">
    <div class="column scholars">
        <div class="services-wrapper">
            <img src="http://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1479585305/logo-scholars_imtodz.png" alt="SEO Scholars logo image">
            <p>{% placeholder "Scholars Intro" %}</p>
            <a href="/scholars" class="ui primary button">Find out more</a>
        </div>
    </div>

    <div class="column careers">
        <div class="services-wrapper">
            <img src="http://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1479585105/logo-careers_b2fq91.png" alt="SEO Careers logo image">
            <p>{% placeholder "Careers Intro" %}</p>
            <a href="/careers" class="ui secondary button">Find out more</a>
        </div>
    </div>

    <div class="column connect">
        <div class="services-wrapper">
            <img src="http://res.cloudinary.com/drdmdqahj/image/upload/q_auto:good/v1479585301/logo-connect_ed7f77.png" alt="SEO Connect logo image">
            <p>{% placeholder "Connect Intro" %}</p>
            <a href="/connect" class="ui primary button">Find out more</a>
        </div>
    </div>
</div>

<div class="infographic section">
    <div class=" ui grid container">
        <div class="centered center aligned column">
            <img src="http://res.cloudinary.com/drdmdqahj/image/upload/v1479338091/SeoLondonInfoGraphic_giaym7.svg" alt="Inforgraphic">
        </div>
    </div>
</div>

<div class="donations section ui grid container">
    <div class="sixteen wide mobile sixteen wide tablet eight wide computer centered center aligned column">
        <h1 class="caps-title">Donations</h1>

        <p>{% placeholder "Donations Intro" %}</p>

        <a class="ui primary button donate-modal">Donate Now</a>
    </div>
</div>

{% endblock content %}
