{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="masthead">

    <div class="ui grid container middle aligned">

        <div class="eight wide column">

            <h1>
                <span>We prepare talented</span><br><span>students from ethnic</span><br><span>minority or low</span><br><span>socioeconomic</span><br><span>backgrounds for career</span><br><span>success.</span>
            </h1>

            <a class="ui secondary donate button">Donate now</a>

        </div>

    </div>

</div>


<div class="services section ui three column relaxed grid container">

    <div class="column scholars">

        <img src="/static/img/logo-scholars.png">

        <p>We help high achieving students in years 11-13 broaden their horizons through access to academic,
            professional and enrichment opportunities.</p>
        <a class="ui primary button">Find out more</a>

    </div>

    <div class="column careers">

        <img src="/static/img/logo-careers.png">

        <p>We equip talented university students to launch successful professional careers. As students build their
            experience, they share their knowledge with the next generation.</p>
        <a class="ui secondary button">Find out more</a>

    </div>

    <div class="column connect">

        <img src="/static/img/logo-connect.png">

        <p>Our SEO Careers alumni are our role models, trainers and mentors. Our lateral hiring platform, SEO Connect,
            supports alumni and like-minded professionals as they progress through their careers.</p>
        <a class="ui primary button">Find out more</a>

    </div>

</div>

<div class="infographic section">

    <div class=" ui grid container">


        <div class="centered center aligned column">

            <h1>Infographic Placeholder</h1>

        </div>
    </div>


</div>

<div class="donations section ui grid container">

    <div class="eight wide centered center aligned column">

        <h1>Donations</h1>

        <p>This is some placeholder content where the donations text will go, encouraging people to click the button
            below.</p>

        <a class="ui primary button">Donate Now</a>

    </div>

</div>
{% endblock content %}
