{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

{% placeholder "Header" %}

<div id="scholars-page">
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">How we work</h1>
                <div class="ui grid">
                    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                        {% placeholder "How We Work Left" %}
                    </div>
                    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                        {% placeholder "How We Work Right" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section grey-background why-unique">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">Why We're Unique</h1>
                <div class="ui three stackable cards">
                    <div class="card">
                        <div class="image" style="background-image:url('/static/img/scholars/unique1.jpg')">
                        </div>
                        <div class="content">
                                <span class="description">
                                    {% placeholder "Unique 1" %}
                                </span>
                        </div>
                    </div>


                    <div class="card">
                        <div class="image" style="background-image:url('/static/img/scholars/unique2.jpg')">
                        </div>
                        <div class="content">
                                <span class="description">
                                    {% placeholder "Unique 2" %}
                                </span>
                        </div>
                    </div>

                    <div class="card">
                        <div class="image" style="background-image:url('/static/img/scholars/unique3.jpg')">
                        </div>
                        <div class="content">
                                <span class="description">
                                    {% placeholder "Unique 3" %}
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section orange-background logos">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">Sponsors</h1>

                <div class="ui very relaxed three column grid">
                    {% placeholder "Logos" %}
                </div>
            </div>
        </div>
    </div>

    <div class="section become">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">Become an SEO Scholar</h1>

                {% placeholder "Become a Scholar" %}

                <p><a class="ui secondary button">Apply Now</a></p>
            </div>
        </div>
    </div>

    <div class="section orange-background">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">Become a Partner School</h1>

                {% placeholder "Become a Partner School" %}

                <p><a class="ui white button">Contact Us</a></p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">Get Involved</h1>

                {% placeholder "Get Involved" %}

                <p>To volunteer with us click <a href="#">here</a>.</p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
