{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

    <div class="masthead scholars">
        <div class="ui grid container middle aligned">
            <div class="eight wide column">
                <h1>
                    <span>We prepare talented</span><br><span>students from ethnic</span><br><span>minority or</span><br><span>disadvantaged</span><br><span>backgrounds for career</span><br><span>success.</span>
                </h1>

                <a class="ui primary button">Donate now</a>
            </div>
        </div>
    </div>

    <div id="scholars-page">
        <div class="section">
            <div class="ui grid container">
                <div class="twelve wide centered column">
                    <h1 class="center-align">How we work</h1>
                    <div class="ui grid">
                        <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                            <p>We help high achieving students in Years 11-13 broaden their horizons through access to
                                academic, professional and enrichment opportunities.</p>
                            <p>We organise events and activities that will inspire you, give you the chance to explore
                                your options and make informed choices about your future.</p>
                        </div>
                        <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                            <ul class="no-margin">
                                <li>Insight days and work experience placements with our world class sponsor firms</li>
                                <li>Comprehensive skills sessions to develop your commercial awareness and technical
                                    skills
                                </li>
                                <li>Bespoke open days at the UK’s top universities</li>
                                <li>Mentoring from experienced SEO alumni and industry professionals</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section grey-background">
            <div class="ui grid container">
                <div class="twelve wide centered column">
                    <h1 class="center-align">Why We're Unique</h1>
                    <div class="ui three stackable cards">
                        <div class="card">
                            <div class="image">
                                <img src="/static/img/header.jpg">
                            </div>
                            <div class="content">
                                <span class="description">
                                    You’re able to access a range of firms and industries and find out what they’re like
                                </span>
                            </div>
                        </div>


                        <div class="card">
                            <div class="image">
                                <img src="/static/img/header.jpg">
                            </div>
                            <div class="content">
                                <span class="description">
                                    Your mentors will be industry professionals who will share their experiences with you
                                </span>
                            </div>
                        </div>

                        <div class="card">
                            <div class="image">
                                <img src="/static/img/header.jpg">
                            </div>
                            <div class="content">
                                <span class="description">
                                    After Year 13 you have the potential to sign up to SEO Careers (hyperlink), which
                                    will help you further your professional exposure and launch your career.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section orange-background logos">
            <div class="ui grid container">
                <div class="twelve wide centered column">
                    <h1 class="center-align">Sponsors</h1>

                    <div class="ui three column centered grid">
                        <div class="column">
                            <img src="/static/img/careers/sponsors/morgan-stanley.png">
                        </div>
                        <div class="column">
                            <img src="/static/img/careers/sponsors/morgan-stanley.png">
                        </div>
                        <div class="column">
                            <img src="/static/img/careers/sponsors/morgan-stanley.png">
                        </div>
                        <div class="column">
                            <img src="/static/img/careers/sponsors/morgan-stanley.png">
                        </div>
                        <div class="column">
                            <img src="/static/img/careers/sponsors/morgan-stanley.png">
                        </div>
                        <div class="column">
                            <img src="/static/img/careers/sponsors/morgan-stanley.png">
                        </div>
                        <div class="column">
                            <img src="/static/img/careers/sponsors/morgan-stanley.png">
                        </div>
                        <div class="column">
                            <img src="/static/img/careers/sponsors/morgan-stanley.png">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="section become">
            <div class="ui grid container">
                <div class="twelve wide centered column">
                    <h1 class="center-align">Become an SEO Scholar</h1>
                    <p>Our Scholars are awesome. They are bright, hard-working and motivated.</p>
                    <p>If you are in Years 11, 12 or 13 of secondary school or college, you could become a Scholar
                        if:</p>
                    <ul>
                        <li>you have the potential to achieve a minimum of ABB at A-Level (or the equivalent in UCAS
                            points in
                            the
                            IB or other alternative examinations)
                        </li>
                        <li>have a minimum B grade for GCSE Maths &amp; English language</li>
                        <li>you have a track record of good behaviour</li>
                        <li>you attend an SEO Scholars’ partner school or college</li>
                    </ul>
                    <p>and you are</p>
                    <ul>
                        <li>of black or minority ethnic origin or</li>
                        <li>of any ethnicity and attending a selective or non-selective state-funded secondary school
                            (i.e.
                            non-fee
                            paying) and
                            <ul>
                                <li>are eligible for free school meals or some other form of income-related financial
                                    assistance
                                    or
                                </li>
                                <li>are the first generation of their immediate family to go to university or</li>
                                <li>have been in care</li>
                            </ul>
                        </li>
                    </ul>

                    <p>If none of the circumstances above apply to you, but you come from a low socio-economic
                        background that
                        has
                        put you at a significant disadvantage, you will have the opportunity to tell us about this on
                        your
                        application form. We may need to ask you for other relevant information to be able to consider
                        your
                        application.</p>

                    <p>All of the information you provide will be treated confidentially and in line with data
                        protection.</p>
                </div>
            </div>
        </div>

        <div class="section orange-background">
            <div class="ui grid container">
                <div class="twelve wide centered column">
                    <h1 class="center-align">Become a Partner School</h1>
                    <p>SEO Scholars has been developed to increase Year 11-13 pupils’ higher education awareness and
                        professional aspirations. We work with a number of Scholars, partner schools and colleges (click
                        here
                        for a full list) across London. We are always interested to hear from teachers and support staff
                        at
                        London schools and colleges.</p>

                    <p>If you would like to find out more about how to become a Scholars partner, please contact us <a
                            href="/contact">here</a>.</p>

                    <p>The Scholars programme is generously funded by our partner firms and partner universities and is
                        completely free for schools and students to participate.</p>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="ui grid container">
                <div class="twelve wide centered centered center aligned column">
                    <h1 class="center-align">Get Involved</h1>
                    <p>If you are a SEO alumni or industry professional that is interested in becoming a mentor, click
                        <a href="#">here</a>.</p>
                    <p>To volunteer with us click <a href="#">here</a>.</p>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
