{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="slider">
    <ul>
        <li class="masthead scholars" style="background-image:url('/static/img/banners/scholars/banner3.jpg')">
            <div class="ui grid container bottom aligned">
                <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                    <h1 class="only-on-computer">
                        <span>We help high achieving</span><br><span>students in years 11-13</span><br><span>broaden their horizons</span><br><span>through access to</span><br><span>academic, professional</span><br><span>and enrichment</span><br><span> opportunities.</span>
                    </h1>
                    <h1 class="hidden-on-computer">
                        <span>Placeholder</span>
                    </h1>
                </div>

                <div
                    class="sixteen wide mobile sixteen wide tablet eight wide computer right aligned text right column buttons">
                    <a class="ui primary donate button">Donate now</a>
                </div>
            </div>
        </li>
        <li class="masthead scholars" style="background-image:url('/static/img/banners/scholars/banner2.jpg')">
            <div class="ui grid container bottom aligned">
                <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                    <h1 class="only-on-computer">
                        <span>We help high achieving</span><br><span>students in years 11-13</span><br><span>broaden their horizons</span><br><span>through access to</span><br><span>academic, professional</span><br><span>and enrichment</span><br><span> opportunities.</span>
                    </h1>
                    <h1 class="hidden-on-computer">
                        <span>Placeholder</span>
                    </h1>
                </div>

                <div
                    class="sixteen wide mobile sixteen wide tablet eight wide computer right aligned text right column buttons">
                    <a class="ui primary donate button">Donate now</a>
                </div>
            </div>
        </li>
        <li class="masthead scholars" style="background-image:url('/static/img/banners/scholars/banner1.jpg')">
            <div class="ui grid container bottom aligned">
                <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                    <h1 class="only-on-computer">
                        <span>We help high achieving</span><br><span>students in years 11-13</span><br><span>broaden their horizons</span><br><span>through access to</span><br><span>academic, professional</span><br><span>and enrichment</span><br><span> opportunities.</span>

                    </h1>
                    <h1 class="hidden-on-computer">
                        <span>Placeholder</span>
                    </h1>
                </div>

                <div
                    class="sixteen wide mobile sixteen wide tablet eight wide computer right aligned text right column buttons">
                    <a class="ui primary donate button">Donate now</a>
                </div>
            </div>
        </li>
    </ul>

</div>

<div id="scholars-page">
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">How we work</h1>
                <div class="ui grid">
                    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                        {% placeholder "How We Work Left" %}
                    </div>
                    <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                        {% placeholder "How We Work Right" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section grey-background">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">Why We're Unique</h1>
                <div class="ui three stackable cards">
                    <div class="card">
                        <div class="image">
                            <img src="/static/img/scholars/unique1.jpg">
                        </div>
                        <div class="content">
                                <span class="description">
                                    {% placeholder "Unique 1" %}
                                </span>
                        </div>
                    </div>


                    <div class="card">
                        <div class="image">
                            <img src="/static/img/scholars/unique2.jpg">
                        </div>
                        <div class="content">
                                <span class="description">
                                    {% placeholder "Unique 2" %}
                                </span>
                        </div>
                    </div>

                    <div class="card">
                        <div class="image">
                            <img src="/static/img/scholars/unique3.jpg">
                        </div>
                        <div class="content">
                                <span class="description">
                                    {% placeholder "Unique 3" %}
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section orange-background logos">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">Sponsors</h1>

                <div class="ui very relaxed three column grid">
                    {% placeholder "Logos" %}
                </div>
            </div>
        </div>
    </div>

    <div class="section become">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">Become an SEO Scholar</h1>

                {% placeholder "Become a Scholar" %}

                <p><a class="ui secondary button">Apply Now</a></p>
            </div>
        </div>
    </div>

    <div class="section orange-background">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">Become a Partner School</h1>

                {% placeholder "Become a Partner School" %}

                <p><a class="ui white button">Contact Us</a></p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile sixteen wide tablet twelve wide computer centered column">
                <h1 class="caps-title">Get Involved</h1>

                {% placeholder "Get Involved" %}

                <p>To volunteer with us click <a href="#">here</a>.</p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
