{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

{% placeholder "Header" %}

<div id="success-stories-page">
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="teal caps-title">Success Stories</h1>
                {% placeholder "Introductory Text" %}
            </div>
        </div>
    </div>
    <div class="ui four column doubling stackable grid">
        {% placeholder "Stories" %}
    </div>
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="teal caps-title">Have you got a story you'd like to share?</h1>
                    <form method="POST" action="//formspree.io/info@seo-london.org">
                        <div class="ui grid">
                            <div class="sixteen wide mobile sixteen wide tablet eight wide computer column ui form">
                                <div class="field">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" placeholder="Sam" required>
                                </div>
                                <div class="field">
                                    <label for="email">Email</label>
                                    <input type="email" name="_replyto" placeholder="sam@example.com" required/>
                                </div>
                                <div class="field">
                                    <label for="programme">SEO Industry Programme</label>
                                    <select name="programme" class="ui dropdown" required>
                                        <option value="">Programme</option>
                                        <option value="banking">Investment Banking</option>
                                        <option value="corporate-law">Corporate Law</option>
                                        <option value="csh">CSH</option>
                                        <option value="civil-service">Civil Service</option>
                                        <option value="consulting">Consulting</option>
                                        <option value="corp-and-tech">Corporates &amp; Technology</option>
                                        <option value="engineering">Engineering</option>
                                        <option value="house-of-commons">House of Commons</option>
                                        <option value="other">Other (please specify in your story)</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label for="class">Class Of</label>
                                    <input type="number" name="class" placeholder="2016" min='1930' max='2099' required>
                                </div>
                            </div>
                            <div class="sixteen wide mobile sixteen wide tablet eight wide computer column ui form">
                                <div class="field">
                                    <label>Current Position</label>
                                    <input type="text" name="position" placeholder="Current Position" required>
                                </div>
                                <div class="field">
                                    <label for="story">Story</label>
                                    <textarea name="message" required></textarea>
                                    <input type="hidden" name="_subject" value="New Submission: WHFN Website Contact Form"/>
                                    <input type="text" name="_gotcha" style="display:none" aria-hidden="true"/>
                                </div>
                                <button class="ui orange button" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
