{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<div class="masthead" style="background-image:url('/static/img/banners/success-stories/banner1.jpg')">
    <div class="ui grid container bottom aligned">
        <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
            <h1 class="only-on-computer">
                <span>We prepare talented</span><br>
                <span>students from ethnic</span><br>
                <span>minority or</span><br>
                <span>disadvantaged</span><br>
                <span>backgrounds for career</span><br>
                <span>success.</span>
            </h1>
            <h1 class="hidden-on-computer">
                <span>Placeholder</span>
            </h1>
        </div>

        <div class="sixteen wide mobile sixteen wide tablet eight wide computer right aligned text right column buttons">
            <a class="ui secondary donate button">Donate now</a>
        </div>
    </div>
</div>

<div id="success-stories-page">
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="teal caps-title">Success Stories</h1>
                {% placeholder "Introductory Text" %}
            </div>
        </div>
    </div>
    <div class="ui four column doubling stackable grid">
        {% placeholder "Stories" %}
    </div>
    <div class="section">
        <div class="ui grid container">
            <div class="sixteen wide mobile fourteen wide tablet twelve wide computer centered column">
                <h1 class="teal caps-title">Have you got a story you'd like to share?</h1>
                <form >
                    <div class="ui grid">
                        <div class="sixteen wide mobile sixteen wide tablet eight wide computer column ui form">
                            <div class="field">
                                <label>Name</label>
                                <input type="text" name="first-name" placeholder="Name">
                            </div>
                            <div class="field">
                                <label>Email</label>
                                <input type="email" name="last-name" placeholder="Email">
                            </div>
                            <div class="field">
                                <label>SEO Industry Programme</label>
                                <select name="programme" class="ui dropdown">
                                    <option value="">Programme</option>
                                    <option value="AL">Banking</option>
                                    <option value="AK">Corporate Law</option>
                                    <option value="AZ">CSH</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>Class Of</label>
                                <input type="text" name="last-name" placeholder="Class Of">
                            </div>
                        </div>
                        <div class="sixteen wide mobile sixteen wide tablet eight wide computer column ui form">
                            <div class="field">
                                <label>Current Position</label>
                                <input type="text" name="last-name" placeholder="Current Position">
                            </div>
                            <div class="field">
                                <label>Story</label>
                                <textarea></textarea>
                            </div>
                            <button class="ui orange button" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
