{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

{% placeholder "Header" %}

<div id="who-we-support-page">
    <div class="section">
        <div class="ui very relaxed grid container">
            <div class="sixteen wide column">
                <h1 class="teal caps-title">Who do we support?</h1>
            </div>

            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                {% placeholder "Who do we support section LEFT" %}
            </div>
            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                {% placeholder "Who do we support section RIGHT" %}
            </div>
        </div>
    </div>
    <div class="section grey-background">
        <div class="ui very relaxed grid container">
            <div class="sixteen wide column">
                <h1 class="teal caps-title">Social Mobility Criteria</h1>
            </div>
            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                {% placeholder "Social mobility criteria section LEFT" %}
            </div>
            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                {% placeholder "Social mobility criteria section RIGHT" %}
            </div>
        </div>
    </div>

    <div class="section">
        <div class="ui very relaxed grid container">
            <div class="sixteen wide column">
                <h1 class="teal caps-title">Academic Eligibility</h1>
            </div>
            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                {% placeholder "Academic eligibility section RIGHT" %}
            </div>
            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                <div class="ui grid">
                    <div class="row margin">
                        <div class="four wide middle aligned column">
                            <p>Background:</p>
                        </div>
                        <div class="twelve wide middle aligned column">
                            <select name="background" class="ui dropdown eligibility test">
                                <option value="">Background</option>
                                <option value="1">Undergraduate studying any discipline</option>
                                <option value="2">Undergraduate in any year of study</option>
                                <option value="3">Graduate/Postgraduate</option>
                                <option value="4">On track for 2:1</option>
                                <option value="5">Min. 320 UCAS points</option>
                                <option value="6">Min. 300 UCAS points</option>
                                <option value="7">Min. 240 UCAS points</option>
                            </select>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="four wide middle aligned column">
                            <p>Interested In:</p>
                        </div>
                        <div class="twelve wide middle aligned column with-line">
                            <select name="area" class="ui dropdown eligibility area">
                                <option value="">Area</option>
                                <option value="1">Investment Banking</option>
                                <option value="2">Corporate Law</option>
                                <option value="3">Consulting</option>
                                <option value="4">Corporates &amp; Technology</option>
                                <option value="5">Engineering</option>
                                <option value="6">Advertising</option>
                                <option value="7">Civil Service</option>
                                <option value="8">City Solicitors Horizons</option>
                            </select>
                        </div>
                    </div>
                    <div class="row margin eligible-toggle">
                        <div class="four wide middle aligned column">
                            <p>&nbsp;</p>
                        </div>
                        <div class="twelve wide middle aligned column with-line">
                            <div class="eligible">You are eligible <i class="check icon"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section grey-background">
        <div class="ui very relaxed grid container">
            <div class="sixteen wide column">
                <h1 class="teal caps-title">Mitigating Circumstances</h1>
            </div>

            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                 {% placeholder "Mitigating Circumstances section LEFT" %}
            </div>

            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                {% placeholder "Mitigating Circumstances section RIGHT" %}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="ui very relaxed grid container">
            <div class="sixteen wide column">
                <h1 class="teal caps-title">How we assess you</h1>
            </div>

            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                {% placeholder "How we assess you section LEFT" %}
            </div>

            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                <div class="ui grid">
                    <div class="row margin">
                        <div class="one wide middle aligned column">
                            <p>&nbsp;</p>
                        </div>
                        <div class="fourteen wide middle aligned column">
                            <select name="selection-background" class="ui dropdown selection background">
                                <option value="">Program</option>
                                <option value="1">Investment Banking</option>
                                <option value="2">Corporate Law</option>
                                <option value="3">Consulting</option>
                                <option value="4">Corporates &amp; Technology</option>
                                <option value="5">Engineering</option>
                                <option value="6">Advertising</option>
                                <option value="7">Civil Service</option>
                                <option value="8">City Solicitors Horizons</option>
                            </select>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="one wide middle aligned column">
                            <p>&nbsp;</p>
                        </div>
                        <div class="fourteen wide middle aligned column with-line line-adjust selection-process" data-selection-process="1">
                            <ul class="steps">
                                <li><span class="circle">1</span> CV Screening</li>
                                <li><span class="circle">2</span> Video Interview</li>
                                <li><span class="circle">3</span> Telephone Interview</li>
                                <li><span class="circle">4</span> Psychometric Tests</li>
                                <li><span class="circle">5</span> Assessment Centre</li>
                            </ul>
                        </div>
                        <div class="fourteen wide middle aligned column with-line line-adjust selection-process" data-selection-process="2">
                            <ul class="steps">
                                <li><span class="circle">1</span> CV Screening</li>
                                <li><span class="circle">2</span> Psychometric Tests</li>
                                <li><span class="circle">3</span> Assessment Centre</li>
                            </ul>
                        </div>
                        <div class="fourteen wide middle aligned column with-line line-adjust selection-process" data-selection-process="3">
                            <ul class="steps">
                                <li><span class="circle">1</span> CV Screening</li>
                                <li><span class="circle">2</span> Video Interview</li>
                                <li><span class="circle">3</span> Telephone Interview</li>
                                <li><span class="circle">4</span> Psychometric Tests</li>
                                <li><span class="circle">5</span> Assessment Centre</li>
                            </ul>
                        </div>
                        <div class="fourteen wide middle aligned column with-line line-adjust selection-process" data-selection-process="4">
                            <ul class="steps">
                                <li><span class="circle">1</span> CV Screening</li>
                                <li><span class="circle">2</span> Video Interview</li>
                                <li><span class="circle">3</span> Telephone Interview</li>
                                <li><span class="circle">4</span> Psychometric Tests</li>
                            </ul>
                        </div>
                        <div class="fourteen wide middle aligned column with-line line-adjust selection-process" data-selection-process="5">
                            <ul class="steps">
                                <li><span class="circle">1</span> CV Screening</li>
                                <li><span class="circle">2</span> Video Interview</li>
                                <li><span class="circle">3</span> Telephone Interview</li>
                                <li><span class="circle">4</span> Psychometric Tests</li>
                                <li><span class="circle">5</span> Face-to-face Interview</li>
                            </ul>
                        </div>
                        <div class="fourteen wide middle aligned column with-line line-adjust selection-process" data-selection-process="6">
                            <ul class="steps">
                                <li><span class="circle">1</span> CV Screening</li>
                                <li><span class="circle">2</span> Video Interview</li>
                                <li><span class="circle">3</span> Telephone Interview</li>
                                <li><span class="circle">4</span> Face-to-face Interview</li>
                            </ul>
                        </div>
                        <div class="fourteen wide middle aligned column with-line line-adjust selection-process" data-selection-process="7">
                            <ul class="steps">
                                <li><span class="circle">1</span> CV Screening</li>
                                <li><span class="circle">2</span> Video Interview</li>
                                <li><span class="circle">3</span> Psychometric Tests</li>
                                <li><span class="circle">4</span> Assessment Centre</li>
                            </ul>
                        </div>
                        <div class="fourteen wide middle aligned column with-line line-adjust selection-process" data-selection-process="8">
                            <ul class="steps">
                                <li><span class="circle">1</span> CV Screening</li>
                                <li><span class="circle">2</span> Video Interview</li>
                                <li><span class="circle">3</span> Psychometric Tests</li>
                                <li><span class="circle">4</span> Assessment Centre</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section grey-background">
        <div class="ui very relaxed grid container">
            <div class="sixteen wide column">
                <h1 class="teal caps-title">Additional Guidance</h1>
            </div>

            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                 {% placeholder "Additional guidance section LEFT" %}
            </div>

            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                {% placeholder "Additional guidance section RIGHT" %}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="ui very relaxed grid container">
            <div class="sixteen wide column">
                <h1 class="teal caps-title">Corporate Law</h1>
            </div>

            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                {% placeholder "Corporate Law section LEFT" %}
            </div>

            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                {% placeholder "Corporate Law section RIGHT" %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
