
.job-list__filter__button{
    display: none;
    &.ui.basic.button {
        color: $red!important;
        box-shadow: 0 0 0 1px $red inset
    }
    &.ui{
        margin-bottom: 25px;
    }
}

.job-list__filter__textbox-group {
    > input[type=text] {
        width: 100%;
        display: block;
        border: 1px;
        border-color: $grey;
        border-style: solid;
        padding: 10px;
        border-radius: 2px;
        &:focus {
            border-color: $dark-grey;
        }
    }
}

.job-list__filter__textbox-label {
    color: $red;
}

.job-list__filter__select-input__group > .ui.accordion {

    .title {
        border: 1px solid $red;
        font-family: "Lato", sans-serif;
        margin-bottom: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

}

.job-list__filter__select-input__content {
    > ul {
        padding-left: 10px;
        list-style: none;
    }
}

.job-list__filter__select-input__label-text {
    > span  {
        color: $dark-grey;
    }
}

.job-list__filter__select-input__label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    > input{
        position: absolute;
        opacity: 0;
    }
    /* Create a custom checkbox */
    > input[type=checkbox] ~ .job-list__filter__select-input__mark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $light-grey;
    }
    /* Create a custom radio */
    > input[type=radio] ~ .job-list__filter__select-input__mark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $light-grey;
        border-radius: 50%;
    }
    > input ~ .job-list__filter__select-input__mark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* On mouse-over, add a grey background color */
    &:hover > input[type=checkbox] ~ .job-list__filter__select-input__mark {
        background-color: $grey;
    }
    /* When the checkbox is checked, add a blue background */
    > input[type=checkbox]:checked ~ .job-list__filter__select-input__mark {
        background-color: $red;
    }
    /* When the radio is checked, add a blue background */
    > input[type=radio]:checked ~ .job-list__filter__select-input__mark {
        background-color: $red;
    }
    /* Show the checkmark when checked */
    > input:checked ~ .job-list__filter__select-input__mark:after {
        display: block;
    }
    /* Style the indicator for checkbox */
    > input[type=checkbox] ~  .job-list__filter__select-input__mark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* Style the indicator for radio */
    > input[type=radio] ~  .job-list__filter__select-input__mark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
}

.job-list__pagination__select-input__label-container {
    .ui.basic.button {
        text-transform: none!important;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .ui.basic.disabled.button.job-list__pagination__currentpage{
        color: rgba(0,0,0,1)!important;
        font-weight: 700!important;
        opacity: 0.8!important;
        box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset!important;

    }

}
