{% if instance.specialButton == "d" %}
<button class="ui {{instance.buttonColour}} donate donate-modal button">{{instance.buttonText}}</button>
{% endif %}
{% if instance.specialButton == "l" %}
<button class="ui {{instance.buttonColour}} log-in button">{{instance.buttonText}}</button>
{% endif %}
{% if instance.specialButton == "a" %}
<button class="ui {{instance.buttonColour}} apply-button button">{{instance.buttonText}}</buton>
{% endif %}
{% if instance.specialButton == "n" %}
<a href="{{instance.buttonURL}}" class="ui {{instance.buttonColour}} button">{{instance.buttonText}}</a>
{% endif %}
