{% load cms_tags %}
<li class="masthead careers-page" style="background-image:url('{% firstof instance.new_background_image.url instance.backgroundImage %}')">
    <div class="ui grid container middle aligned">
        <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
            <h1 class="white">
                {{ instance.quoteText }}
            </h1>
            {% if instance.captionText %}
            <h2 class="caption">
                {{ instance.captionText }}
            </h2>
            {% endif %}
            {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
            {% endfor %}
        </div>
    </div>
</li>
