{% load cms_tags %}

{% if instance.storyImage %}
<div class="column story" style="background-image:url('{{instance.storyImage}}')">
{% else %}
<div class="column story" style="background-image:url('{{instance.image}}')">
{% endif %}
    <div class="content">
        <h2>{{ instance.name }}</h2>
        <p>{{ instance.excerpt }}</p>
        <a data-story="{{ instance.storyId }}" class="ui success story orange button">Full Story</a>
    </div>
</div>

<div class="ui success story modal {{ instance.storyId }}">
    <div class="header">{{ instance.name }}</div>
    <div class="content">
        <img src="{{ instance.storyImage }}" alt="{{ instance.name }} Story">
        {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
        {% endfor %}
    </div>
</div>
