<div class="column story" style="background-image:url('/media/{{ instance.image }}')">
    <div class="content">
        <h2>{{ instance.name }}</h2>
        <p>{{ instance.excerpt }}</p>
        <a data-story="{{ instance.storyId }}" class="ui success story orange button">Full Story</a>
    </div>
</div>

<div class="ui success story modal {{ instance.storyId }}">
    <div class="header">John Smith</div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut blandit metus. In hac habitasse platea
            dictumst. Maecenas sed nisl vel leo pretium gravida in quis tellus. In et libero consectetur, ornare quam et,
            interdum est. Quisque rhoncus ligula arcu, at volutpat erat congue non. Aliquam in lacus porta, pulvinar magna
            et, efficitur orci. Nullam auctor sollicitudin felis, suscipit consectetur arcu hendrerit rutrum.</p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam malesuada fermentum
            tortor condimentum aliquam. Maecenas maximus maximus maximus. Phasellus sed elit ac lectus mattis scelerisque
            quis sed nisi. Nullam sed purus in lacus auctor rutrum eu et sem. In sed justo vulputate, vulputate urna vitae,
            auctor lacus. In blandit, ex nec vestibulum scelerisque, ligula orci accumsan diam, non malesuada nisi arcu at
            nunc. Nulla egestas, leo eu dapibus bibendum, metus sapien fermentum ipsum, mollis fermentum neque ligula
            sodales sapien. Phasellus vel ornare lorem. Suspendisse maximus ipsum ac posuere ornare. Mauris sit amet velit
            turpis. Phasellus eu imperdiet tortor.</p>

        <p>Sed eleifend orci a odio pulvinar finibus. Vivamus sed tincidunt mauris. Morbi feugiat neque at nisl
            sollicitudin tincidunt. Sed turpis enim, auctor et rhoncus eget, molestie a lectus. Curabitur nisi lacus, auctor
            vel orci vel, commodo viverra dolor. Curabitur pellentesque lorem mi, a porta libero maximus et. Pellentesque
            tincidunt sed justo sed facilisis.</p>

        <p>Donec tristique laoreet pretium. Ut tempor tincidunt felis sed posuere. Nunc blandit nibh sit amet leo tincidunt
            suscipit id non leo. Morbi aliquet, risus eget hendrerit fringilla, orci mi accumsan ante, in pretium sapien est
            eu justo. Quisque laoreet tortor vitae odio dapibus, ac tempor dolor lacinia. Phasellus nibh leo, ultrices et
            condimentum a, finibus sit amet lectus. Nunc sit amet est ex. Interdum et malesuada fames ac ante ipsum primis
            in faucibus. Phasellus nec pellentesque nunc. Ut consequat nulla ut erat pretium tristique. Morbi odio nisl,
            aliquet at pulvinar quis, gravida sit amet dui. Duis gravida venenatis tortor, eget feugiat est vestibulum ac.</p>
    </div>
</div>
