<div class="column story" style="background-image:url('/media/{{ instance.image }}')">
    <div class="content">
        <h2>{{ instance.name }}</h2>
        <p>{{ instance.excerpt }}</p>
        <a data-story="{{ instance.storyId }}" class="ui success story orange button">Full Story</a>
    </div>
</div>

<div class="ui success story modal {{ instance.storyId }}">
    <div class="header">{{ instance.name }}</div>
    <div class="content">
        <img src="/media/{{ instance.image }}">
        {{ instance.text }}
    </div>
</div>
