.ui.form {
  .field {
    input, textarea, .ui.dropdown {
      border-radius: 0 !important;

      &:focus {
        border-color: $teal;
      }
    }
  }
}

.ui.dropdown {
  border-radius: 0 !important;

  &:focus {
    border-color: $teal;
  }
}
