$light-grey: #f4f4f4;
$grey: #e5e5e5;
$dark-grey: #9ea1a5;
$black: #323a45;

$blue: #105f9b;

$blue-grey: #f0f3f6;

$light-blue: #209ad6;
$dark-blue: #705bff;
$very-dark-blue: #323a45;

$orange: #f08a32;
$teal: #00afaa;
$red: #962d45;

$primary: $light-blue;
$accent: #105f9b;

$color__background-body: #fff; // not changed
$color__background-screen: #f1f1f1; // not changed
$color__background-hr: #ccc; // not changed
$color__background-button: #e6e6e6; // not changed
$color__background-pre: #eee; // not changed
$color__background-ins: #fff9c0; // not changed

$color__text-screen: #21759b; // not changed
$color__text-input: #666; // not changed
$color__text-input-focus: #111; // not changed
$color__link: #737373;
$color__link-visited: #737373;
$color__link-hover: $light-blue;
$color__text-main: #737373;

$color__border-button: $grey;
$color__border-button-hover: $grey;
$color__border-button-focus: $grey;
$color__border-input: $grey;
$color__border-abbr: $grey;
