.careers {

  p {
    margin-bottom: 10px;
  }

  .training-item, .support-item {

    .number {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid $orange;
      text-align: center;
      line-height: 35px;
      font-family: "Lato", sans-serif;
      font-weight: 600;
      color: $orange;
    }

    display: flex !important;
    align-items: center;

    margin-bottom: 30px !important;

    img {
      max-width: 40px !important;
    }

    span {
      font-weight: 600;
      font-size: 16px;
      padding-left: 20px;
    }

  }

  .support-item {
    .row {
      width: 100%;
      display: block;
    }

  }

}

.industry-programmes {

  h1 {
    margin-bottom: 20px;
  }

  .ui.cards {

    .card {
      border-radius: 0;

      .header {
        font-weight: 400 !important;
        font-size: 14px !important;
      }
    }
  }

  .background-image {

    img {
      width: 80%;
      margin-left: auto;
      display: block;
    }

  }

}

.why-unique {
  strong {
    font-size: 16px;
  }
}

.careers.inner {

  .sponsors.grid {
    .column {
      img {
        max-width: 80%;
        margin: 0 auto;
        // Spacing
        margin-bottom: 50px;
      }
    }
  }

  .divisions.grid {
    p {
      font-weight: 300;
      color: $orange;
      font-size: 20px;
    }
    ul {
      margin-top: 10px;
      margin-bottom: 30px;
      padding-left: 20px;

      li {
        margin: 10px 0;
      }
    }
  }

  .support.grid {
    margin-top: 20px;

    .column {

      .support {
        padding: 25px 20px;
      }

      &.inverted {

        &.orangey {
          .support {
            background: $orange;
          }
        }

        .support {
          background: $teal;
          color: white;

          .number {
            color: white;
            border-color: white;
          }
        }
      }

    }
  }

}
