.careers-page,
.careers.inner {
  .training-item,
  .support-item {
    display: flex !important;
    align-items: center;
    margin-bottom: 10px !important;

    .number {
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      border-radius: 50%;
      border: 2px solid $orange;
      text-align: center;
      font-size: 0.8em;
      line-height: 26px;
      font-family: "Lato", sans-serif;
      font-weight: 600;
      color: $orange;
    }

    img {
      max-width: 40px !important;
    }

    span {
      font-weight: 600;
      font-size: 16px;
      padding-left: 20px;
    }
  }

  .support-item {
    .row {
      width: 100%;
      display: block;
    }
  }
}

.careers-page {
  p {
    margin-bottom: 10px;
  }
}

.careers.inner {
  .sponsors.grid {
    margin-top: 30px;

    .column {
      margin-bottom: 25px;
      img {
        display: block;
        width: 150px;
        height: auto;
      }
    }
  }

  .divisions.grid {
    p {
      font-weight: 300;
      color: $orange;
      font-size: 20px;
    }

    ul {
      margin-top: 10px;
      margin-bottom: 30px;
      padding-left: 20px;

      li {
        margin: 10px 0;
      }
    }
  }

  .support.grid {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.support {
  p {
    padding-left: 50px;
  }
}

.industry-programmes {
  h1 {
    margin-bottom: 20px;
  }

  .ui.cards {
    .card {
      border-radius: 0;

      .header {
        font-weight: 400 !important;
        font-size: 14px !important;
      }
    }
  }

  .background-image {
    img {
      width: 80%;
      margin-left: auto;
      display: block;
    }
  }
}

.why-unique {
  strong {
    font-size: 16px;
  }
}
