.infographic {
  background: #f3f3f3;
}

.donations {
  p {
    margin: 50px 0 50px;
  }
}

.services-wrapper {
  padding: 20px;
}

.services {
  
  .scholars,
  .careers,
  .connect {
    position: relative;
    transition: 0.3s ease all !important;
    flex: 1 0 auto;

    img {
      transition: 0.3s ease all !important;
    }

    .button {
      position: absolute;
      bottom: 0;
      margin: 15px 0;
    }

    &:hover {
      p {
        color: #fff;
      }

      img {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }
    }
  }

  .scholars {

    .button {
      background: $orange !important;
    }

    &:hover {
      background: $orange;
      .button {
        background: white !important;
        color: $orange !important;
      }
    }
  }

  .careers {

    .button {
      background: $teal !important;
    }

    &:hover {
      background: $teal;

      .button {
        background: white !important;
        color: $teal !important;
      }
    }
  }

  .connect {
    .button {
      background: $red !important;
      transition: 0.3s ease all !important;
    }

    &:hover {
      background: $red;
      .button {
        background: white !important;
        color: $red !important;
      }
    }
  }

  p {
    padding: 40px 0;
  }

  img {
    height: 75px;
  }
}
