#scholars-page {
  .section {
    h1 {
      margin-bottom: 50px;
      color: $orange;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 36px;
    }

    p {
      line-height: 1.8em;
      margin-bottom: 30px;
    }

    .ui.cards {
      .card {
        border-radius: 0;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      &.no-margin {
        li {
          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      li {
        list-style: none;
        padding-left: 30px;
        position: relative;
        margin: 15px 0;

        &:before {
          position: absolute;
          font-family: Icons;
          content: "\f046";
          color: $orange;
          left: 0;
          font-size: 15px;
          top: 2px;
        }
      }
    }

    &.orange-background, &.teal-background {
      h1 {
        color: #FFF;
      }

      ul li:before {
        color: #FFF;
      }

      p {
        color: #FFF;
      }

      p a {
        color: #FFF;
        font-weight: 600;
      }
    }

    &.logos {
      img {
        max-width: 80%;
        margin: 20px auto;
        display: block;
      }
    }

    &.become {
      li:before {
        content: '\f10c';
      }

      ul + p {
        margin: 25px 0;
      }
    }
  }

}
