#who-we-support-page {

  .section {
    &.teal-background {
      color: #FFF;
    }
  }

  p.big {
    font-size: 20px;
  }

  h1 {
    margin-bottom: 35px;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding-left: 30px;
      position: relative;
      margin: 15px 0;

      &:before {
        position: absolute;
        font-family: Icons;
        content: "\f046";
        color: $teal;
        left: 0;
        font-size: 20px;
        top: 3px;
      }
    }
  }

  .column.story {
    background-image: url('/static/img/header.jpg');
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    min-height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 !important;

    .content {
      background: rgba(0, 175, 170, 0.5);
      color: #FFF;
      text-align: center;
      padding: 35px;
      max-height: 96px;
      overflow: hidden;
      transition: 0.4s ease all;

      h2 {
        font-weight: 400;
        margin: 0;
        font-size: 26px;
        height: 26px;
      }

      p {
        padding-left: 30px;
        padding-right: 30px;
        margin: 20px 0;
        opacity: 0;
        transition: 0.4s ease all;
      }

      .button {
        margin: 0;
      }
    }


    &:hover {
      .content {

        p {
          opacity: 1;
        }
        max-height: 300px;
      }
    }
  }

  .ui.dropdown {
    width: 450px;

    @include not-computer {
      width: auto;
    }
  }

  .row {
    &.margin {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .with-line {
      &:before {
        content: "";
        display: block;
        width: 1px;
        height: 48px;
        position: absolute;
        top: -48px;
        left: 40px;
        background: $grey;
      }

      &.selection-process {
        display: none;
      }

      &.line-adjust {
        &:before {
          left: 29px;
        }
      }
    }
  }

  .eligible-toggle {
    visibility: hidden;
    transition: 0.4s ease all;
  }

  .eligible {
    background: $light-grey;
    border: 1px solid $teal;
    padding: 10px 15px;
    color: $teal;
    font-weight: 600;
    width: auto;
    display: inline-block;
  }

  ul.steps {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding: 0;

      &:first-child {
        margin-top: 0;
      }

      &:before {
        display: none;
      }

      .circle {
        background-color: $teal;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #FFF;
        display: inline-block;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        font-weight: 300;
        margin-right: 20px;
      }
    }
  }
}
